/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

.pagetitle {
    background: #f3f3f3;
    color: #555;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    font-family: Helvetica;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}



/* Template */
body {
    background: #f3f3f3;
/*    url('/globaleaks/static/images/background.png');*/
    font-family: Arial, sans-serif;
    color: #444;
}

.clear {
    clear: both;
}

strong {
    font-weight: bold;
}

a.button {
    color: #fff;
    border: 0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    display: block;
    text-decoration: none;
    text-align: center;
    margin: 20px 0 20px 10px;
    float: right;

}

a.button.whistleblower {
    background: #0a70b4;
    width: 200px;
}

a.button.addtarget {
    background: #444;
    width: 100px;
}

a.button.targetlist {
    float: left;
    color: black;
    background: transparent;
    width: 120px;
}

a:hover.button.targetlist {
    color: red;
}

input[type=submit]{
    background: #444;
    color: #fff;
    border: 0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 10px;
    display: block;
    text-decoration: none;
    text-align: center;
    margin: 10px 0;
    cursor: pointer;
    font-size: 14px;
}


p.tulip{
    background: #444;
    color: #fff;
    border: 0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-weight: bold;
    padding: 20px;
    display: block;
    text-decoration: none;
    text-align: center;
    margin: 10px auto 20px auto;
    font-size: 28px;
    width: 300px;
}


#container {
    background: #fff;
    width: 880px;
    padding: 40px;
    margin: 20px auto 5px auto;
    -moz-box-shadow: 0px 0px 3px #dedede;
    -webkit-box-shadow: 5px 5px 0px #dedede;
    box-shadow: 0px 0px 10px #d0d0d0;
    position: relative;
}

#container img.ribbon {
    float: right;
    margin-left: 20px;
    margin-top: -40px;
    margin-right: -40px;
}


#header {
    padding-bottom: 40px;
}

ul#navigation {
    float: right;
    padding: 20px;
    background: #ededed;
}

ul#navigation li {
    float: left;
    margin-left: 10px;
}

ul#navigation li.user {
    float: none;
    padding-bottom: 5px;
    font-size: 14px;
}

ul#navigation a {
    color: #444;
    text-decoration: none;
    text-shadow: #fff 1px 1px 1px;
    font-weight: bold;
    font-size: 14px;
}

#content {
    position: relative;
}

#content h1 {
    font-size: 32px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

#content h1 span {
    font-weight: normal;
    text-transform: none;
}

#content #receiptbox {
    background: #444;
    width: 240px;
    margin: 0 auto;
    padding: 30px;
    position: absolute;
    top: -190px;
    right: -10px;
}

#content #receiptbox h2 {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 15px;
}

#content #receiptbox form input[type="submit"] {
display: block;
color: #fff;
text-decoration: none;
text-transform: uppercase;
font-weight: bold;
background: #0a70b4;
padding: 10px;
border: none;
border-radius:5px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
}


#content p.intro {
    line-height: 20px;
    text-align: justify;
    margin-bottom: 20px;
    background: #ededed;
    padding: 20px;
}

/* right_intro, common_intro and left_intro are used in feedbacks visualization */

.comment {
    position: relative;
    margin-bottom: 50px;
}

#other_comment.comment h2 {
    position: absolute;
    left: 4px;
    bottom: -30px;
}

#other_comment.comment p {
    padding: 10px 10px 10px 30px;
    border-radius: 50px 10px 10px 10px;
    background-color: #CCC;
    margin-bottom: 20px;
}


#your_comment.comment h2 {
    position: absolute;
    left: 4px;
    bottom: -30px;
}

#your_comment.comment p {
    padding: 10px 10px 10px 30px;
    border-radius: 50px 10px 10px 10px;
    background-color: #F8ECC2;
    margin-bottom: 20px;
}

#wb_comment.comment h2 {
    position: absolute;
    right: 4px;
    bottom: -30px;
}

#wb_comment.comment p {
    padding: 10px 10px 10px 10px;
    border-radius: 10px 50px 10px 10px;
    background-color: #FA5858;
    margin-bottom: 20px;
}


.voteImg {
    width: 90px;
    padding-left: 70px;
    text-align: center;
}

.voteImgText {
    font-size: 12px;
    text-align: center;
}

#content .intro {
    line-height: 20px;
    text-align: justify;
    margin-bottom: 20px;
    background: #ededed;
    padding: 20px;
}

#content .intro ul {
    margin-bottom: 20px;
}

#content .intro ul li {
    padding-left: 10px;
}

#content .intro p {
    margin-bottom: 20px;
}

#content .intro em {
    font-size: 20px;

}
#content  .box {
    background: #444;
    width: 340px;
    height: 320px;
    margin: 0 auto;
    padding: 40px;
    display: block;
}

#content  .submitbox {
	height: 10px;
}

#content .box.box-hover {
    background: #555;
    transition: background-color 0.3s linear;
    -moz-transition: background-color 0.3s linear;    /* FF3.7+ */
    -o-transition: background-color 0.3s linear;      /* Opera 10.5 */
    -webkit-transition: background-color 0.3s linear; /* Saf3.2+, Chrome */
}

#content .box h2 {
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
}

#content .box h2 span {
    font-size: 48px;
}

#content .box a {
    display: block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    /* float: right; */
    /* margin-top: 32px; */
    margin: 0px 40px 0px 40px; /* grow those 40px cause the shrink of the blux sub box */
    background: #0a70b4;
    padding: 10px;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}

#content .box span.info {
    display: block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    float: right;
    margin-top: 42px;
    font-style: italic;
    padding-top: 0px;
}

#content .box img {
    margin-top: 30px;
}


#content form table td {
    padding: 5px 5px 10px 5px;
    vertical-align: top;
}

#content form table td {
    font-size: 13px;
    font-weight: bold;
}

#content form input {
    border: 1px solid #ddd;
    padding: 5px;
    width: 280px;
    font-size: 13px;
}

#content form input[type=submit] {
    width: auto;
}

#content form textarea {
    border: 1px solid #ddd;
    padding: 5px;
    width: 350px;
    font-size: 13px;
}

#content form .error {
    padding: 5px;
    width: 350px;
    font-size: 13px;
    color: #fff;
    background: #e60000;
    margin-top: 5px;
    font-weight: bold;
}

#content table.targetlist {
    width: 100%;
    font-size: 14px;
}

#content table.targetlist th {
    background: #005ea3;
    //background: #444;
    color: #fff;
    font-weight: bold;
    padding: 15px;
    text-align: left;
}

#content table.targetlist tr {
    padding-bottom: 20px;
}

#content table.targetlist td {
    padding: 15px;
    background: #ededed;
    text-align: left;
    margin-bottom: 20px;

}

#content table.targetlist tr.odd td {
    background: #f5f5f5;
}

#content .delete {
    text-align: center;
}


#content .delete button {
    background: #e60000;
    color: #fff;
    border: 0;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
}

#content table.targetlist .downloads {
    width: 70px;
    text-align: center;
}

.entry {
    width: 500px;
    margin: 0 auto;
    padding: 40px;
    background: #f4f4f4;
}

.entry h2, .entry h3 {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.entry h2.title {
    font-size: 28px;
}

.entry h3 {
    padding-top: 5px;
}


.entry p {
    font-size: 14px;
}

.entry li {
    padding: 7px 0 7px 30px;
    font-size: 14px;
}

.material {
    font-size: 15px;
}

.material ul {
    margin-bottom: 20px;
}

.material li.zip {
    background: url('/globaleaks/static/images/box_16x16.png') no-repeat left center;
}

.material li.img {
    background: url('/globaleaks/static/images/image_16x16.png') no-repeat left center;
}

.material li.pdf {
    background: url('/globaleaks/static/images/document_fill_16x16.png') no-repeat left center;
}

.material a {
    display: block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    float: left;
    margin: 10px 10px 0 0;
    padding: 10px 10px 10px 30px;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}

.material a.zip {
    font-size: 10px;
    background: #0a70b4 url('/globaleaks/static/images/icon-download-zip.png') no-repeat 5px center;
}

.material a.crypt {
    font-size: 10px;
    //background: #0a70b4 url('/globaleaks/static/images/icon-download-crypt.png') no-repeat 5px center;
    background: #CCCCCC url('/globaleaks/static/images/icon-download-crypt.png') no-repeat 5px center;
    cursor: text;

}

.material-entry form {
    font-size: 15px;
}

.material-entry .files {
    width: 600px;
    font-size: 15px;
}

.downloads-left {
    font-size: 18px;
    float: left;
    background: #444;
    padding: 5px 10px;
    color: #fff;
    margin: 0 10px 10px 0;
}

.downloads-left.full {
    background: #e60000;
}


.total-clicks {
    font-size: 18px;
    float: left;
    background: #444;
    padding: 5px 10px;
    color: #fff;
}

.entry .material {
    padding: 20px;
    background: #444;
    color: #fff;
    margin: 20px 0;
}

.entry .material_submission  {
-moz-border-radius: 5px;
border-radius: 5px;

}
.entry .material_submission h2 {
    margin-top: 20px;
}

.entry .material_submission p {
    background-color: #CCCCCC;
    padding: 10px 10px;
}


.entry .material_string {
    width: 200px;
}

#footer {
    width: 960px;
    margin: 10px auto 20px auto;
    font-size: 12px;
    text-align: right;
}

#footer a {
    color: #0a70b4;
}

/* temporary here - XML, template source, calling a CSS class/id */
.disclaimer_text {
    color:black;
    font-size: 1.1em;
    background-image:url('/globaleaks/static/images/disclaimer_pattern.jpg');
    margin: 1em 2em 1em 2em;
    padding: 0.5em;
    line-height: 120%;
    font-style: normal;
}

#step-3 label {
    border-top: 3em;
    font-size: 2em;
    color: #8Cc63f;
    /* this is the same stile of the button ahead */
    font: Verdana, Arial, Helvetica;
    font-style: bold;
}

#step-3 {
    font-size: 1.1em;
}

#PrivacyBox {
    width: 100px;

}

#PrivacyBox #status h2 {
    font-size: 20px;
    color: red;
}

#statusbar {
	top: 30px;
	position: absolute;
	right: 60px;
}

#statusbar select {
	font-size: 25px;
}
