.header {
    margin-top: 50px;
    margin-bottom: 30px;
}
.footer {
    margin-top: 45px;
    padding: 35px 0 36px;
    border-top: 1px solid #E5E5E5;
}

.receipt {
    padding: 16px 70px 16px 28px;
    font-size: 26px;
    line-height: 30px;
}
