*.pyc
*.bak
.*.swp
*.DS_Store

build/
dist/
*.egg-info

parameters_8000.py
httpserver.log
httpserver.pid
cron.master

applications/globaleaks/cache/
applications/globaleaks/databases/
applications/globaleaks/languages/
applications/admin/
applications/globaleaks/errors
applications/globaleaks/sessions/
applications/globaleaks/models/gleaks.cfg
deposit/
docs/build
material/
logs/
site-packages/
applications/admin/languages/it-it.py
applications/globaleaks/languages/it-it.py
applications/globaleaks/uploads/
