*.pyc
*.bak
*.DS_Store
applications/admin/errors
applications/init/errors
uploads
./uploads
site-packages
logs
parameters_8000.py
deposit
httpserver.log
httpserver.pid
*/cron/cron.master
cron.master
applications/globaleaks/databases/*
applications/globaleaks/sessions/*
applications/*/errors/*
applications/admin/sessions/*
material/*
applications/globaleaks/cache/*
applications/admin/cache/*
0.py
