*.pyc
*.bak
.*.swp
*.DS_Store

parameters_8000.py
httpserver.log
httpserver.pid
cron.master

applications/globaleaks/cache/
applications/globaleaks/databases/
applications/globaleaks/languages/
applications/admin/
applications/errors
deposit/
material/
logs/
site-packages/

0.py
