{{extend 'layout.html'}}

<h2>Welcome to the interactive demonstration</h2>


<ul id="demo">
    <li>
        <h3>Part 1 (you as the Node Administrator)</h3>
        <div class="center">
        <img src="{{=URL('static','images/demo_node_maintainer.png')}}"/><br/>
        <a href="/globaleaks/admin/targets">create target list</a>
        </div>
    </li>
    <li>
        <h3>Part 2 (you as the Whistleblower)</h3>
        <div class="center">

        <img src="{{=URL('static','images/demo_whistleblower1.png')}}"/><br/>

        <a href="/submit">submit material</a>
        </div>
    </li>
    <li>
        <h3>Part 3 (you as a Target):</h3>
        <div class="center">
        <img src="{{=URL('static','images/demo_target.png')}}"/><br/>
        Check your inbox for Tulip URL
        </div>
   </li>
   
   <li><h3>Part 4 (you as the Whistleblower, redux):</h3>

        <div class="center">
        <img src="{{=URL('static','images/whistleblower2.png')}}"/><br/>
       Go back to see you tulip
       </div>
   </li>
</ul>
