{{extend 'layout.html'}}
<h1>Welcome to the Interactive Demo</h1>
<p class="intro">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed semper rutrum nunc, suscipit tincidunt ligula elementum semper. Cras in elit vel libero interdum faucibus. Vivamus vitae tellus vitae velit fermentum scelerisque. Ut ut sapien metus. In ut velit ac leo laoreet fermentum in eu sem.
</p>

<div onclick="location.href='{{=URL('globaleaks', 'admin', 'targets')}}'" class="box">
    <h2><span>1.</span><br />Node Administrator</h2>
    <p style="text-align:center">
        <img src="{{=URL('static', 'images/icon-admin.png')}}" alt="" />
    </p>
    <a href="/globaleaks/admin/targets">Create Target List &raquo;</a>
</div>
<div onclick="location.href='{{=URL('submission', 'index')}}'" class="box">
    <h2><span>2.</span><br />Whistleblower</h2>
    <p style="text-align:center">
        <img src="{{=URL('static', 'images/icon-whistleblower.png')}}" alt="" />
    </p>
    <a href="/submit">Submit material &raquo;</a>
</div>
<div class="box">
    <h2><span>3.</span><br />Target</h2>
    <p style="text-align:center">
        <img src="{{=URL('static', 'images/icon-target.png')}}" alt="" />
    </p>
    <span class="info">Check your inbox for Tulip URL</span>
</div>
<div onclick="location.href='{{=URL('tulip', 'index')}}'" class="box">
    <h2><span>4.</span><br />Whistleblower, redux</h2>
    <p style="text-align:center">
        <img src="{{=URL('static', 'images/icon-report.png')}}" alt="" />
    </p>
    <a href="/tulip">Check your Tulip &raquo;</a>
</div>

<div class="clear"></div>

