{{extend 'layout.html'}}

<style>
div.flash {background-color: #888;}
</style>

{{if form:}}
    <h1>2. Whistleblower<span> | Submission</span></h1>
    <p class="intro">You are the Whistleblower and this is the Submission interface from which you can send material to be received as a TULIP by the Targets. Once you have successfully submitted the form you will be given a Reciept allowing you to check back on the status of the TULIP, view statistics (access/downloads counters), send and receive comments and upload new material. The Target group responsible for analyzing and recieving the material may be selected by the Whistleblower (NOT IMPLEMENTED for details see the <a href="https://blueprints.launchpad.net/globaleaks/+spec/submission-targets-configurable">blueprint</a>)</p>
    
        {{=form}}
{{pass}}

{{if leak_id:}}
    <h1>2. Whistleblower <span>| Tulip</span></h1>
    <p class="intro">This is a number you should write down to keep track of your submission</p>
    
    <p class="tulip">
        {{=leaker_tulip}}
    </p>

    <p class="intro">
        Please save it in a safe place (e.x. mobile phone, piece of paper, etc.)
    </p>
    <p class="intro">
    You should now impersonate the Target by checking you email and clicking on the TULIP (link). You may be required to wait up to 1 minute and be sure to check also your spam email folder.
    </p>
    <p class="tulip">
   <img src="{{=URL('static', 'images/icon-target.png')}}" alt="" />
    </p>
    <p>
    You are also able to use your Whistleblower receipt from the following interface: <a href="/tulip">/tulip</a>
    </p>

{{pass}}

