{{extend 'layout.html'}}

<style>
div.flash {background-color: #888;}
</style>

{{if form:}}
    <h1>2. Whistleblower<span> | Submission</span></h1>
    <p class="intro">
    The Node Administrator is the person who is actually running the GlobaLeaks node. He is aware of the context he wishes to impact and will therefor
    be able to properly construct a target list. The target list will be composed of respectable people that will be willing to analyze the information
    that is sent to them. The target lists needs to be as diversified as possible. The diversification of interests serves to incentivize targets into
    properly analyzing the information submitted by the Whistleblower.
    </p>
    
        {{=form}}
{{pass}}

{{if leak_id:}}
    <h1>2. Whistleblower <span>| Tulip</span></h1>
    <p class="intro">This is a number you should write down to keep track of your submission</p>
    
    <p class="tulip">
        {{=leaker_tulip}}
    </p>

    <p class="intro">
        Please save it in a safe place (e.x. mobile phone, piece of paper, etc.)
    </p>

{{pass}}

