<h2>Dobrodošli na "Perun"</h2>
<p>Odavde možete bezbedno i anonimno da pošaljete dokumente ili informacije u vezi sa korupcijom ili zloupotrebama u vašoj sredini.</p>
<p>Zahvaljujući ovom sistemu Vaš identitet neće biti otkriven ni u jednoj fazi procesa slanja podataka.</p>
<p>UPOZORENJE: ako ste u polju na vrhu ove strane dobili znak "Anonymus", bezbedno je da nastavite sa slanjem. Ako nema tog znaka, preporučujemo Vam da skinete program "TOR" i pristupite "Perunu" preko njega. <a href="http://torproject.org/download/">"TOR" možete skinuti ovde.</a>.</p>
<p>Za dodatnu bezbednost preporučujemo da iskoristite portabl vezriju operativnog sistema Linux "Tails", koju možete skinuti - <a href="http://tails.boum.org/">ovde</a>.</p>
