<h2>WELCOME TO THIS SUBMISSION SITE!</h2>
<p>Through this website you are able to submit documents and tips regarding corruption and malpractice in your area,
securely and anonymously.</p>
<p>With this submission system your identity will not be disclosed in any part of the process.</p>
<p>If the box on top of this page indicates "Anonymous" you are good to go, if not you should
	download the <a href="http://torproject.org/download/">Tor Browser Bundle</a>.</p>
<p>For even more security you should use the live linux distribution Tails. It can be
	downloaded from here: <a href="http://tails.boum.org/">tails</a>.</p>
