<div class="main clearfix">
    <div id="PrivacyBox" class="home_tor_status_block fleft">

        <div class="tor_status not_connected mb10">
            <span class="status_ico"></span> <span>You are not connecting to this node through Tor. This Means that your indentity maybe compromised.
            You are advised to <a href="#" title="TOR">download a copy of Tor</a></span>.
        </div>
        <!-- tor_status / not connected -->

        <div class="tor_status tor_connected mb10">
            <span class="status_ico"></span> <span>Congratulations!! You are now being connected anonymously via <a href="#" title="Tor">Tor</a></span>.
        </div>
        <!-- tor_status / connected -->

    </div>
    <!-- home_tor_status_block -->

    <div class="home_info_block fright">
        <p>Through Perun, a secure and anonymous submission
        site, you are able to submit documents and tips about
        corruption and malpractice.</p>

        <p>With this submission system your identity will not
        be disclosed in any part of the process.</p>

        <p class="hint">If you see a <span class="checkmark thide"><span>checkmark</span></span> you are submitting securely and anoymously. If you see
        a <span class="crosskmark thide"><span>crosskmark</span></span> instead of a check, please download and install <a class="tbold" href="#" title="Tor">Tor</a>, software that
        allows you to browse anonymously on the web.</p>
        <!-- hint -->

        <a class="go_submit_btn" href="/globaleaks/submission/" title="submit tips &amp; materials">submit tips &amp; materials</a>

    </div>
    <!-- home_info_block -->

</div>
<!-- main colum -->

