<p>U ovom postupku slanja informacija Južnim vestima Vaš identitet neće ni u jednom delu biti otkriven.</p>

<p>Ako se u vrhu ove stranice nalazi napomena "Anonymous" bezbedno je da nastavite proces. 
	Ako je nema, preporučujemo da preuzmete "TOR browser bundle" sa sajta 
	<a href="http://torproject.org/download/">torproject.org/download</a>.
</p>

<p>Za maksimalni nivo bezbednosti preporučujemo da koristite i "Tails" verziju operativnog sistema 
	linux, koja se pokreće sa CD/DVD ili USB, za koju nije potrebna instalacija. Linux Tails možete 
	preuzeti sa sajta tails.boum.org.</p>
