<i>the message following is an html source taken by 'templates/tip_off_description_for_receiver.html'</i>.<br>
This Tip-off has been sent to you by an anonymous whistleblower.<br>
She/He would like it for you to pay special attention to the information and material contained therein.<br>
Please consider that whistleblowers often expose themselves to high personal risks in order to protect the public good. Therefore the material that they provide with this Tip-off should be considered of high importance.<br>
