<p>Uspešno ste prosledili Vašu poruku Južnim vestima.</p>
<p>Sa ove stranice u mogućnosti ste da pratite tok vaše poruke i komunicirate sa našim novinarima.</p>

<p>Predlažemo Vam da se povremeno vratite na ovu stranicu, kako bi odgovorili na eventualna potpitanja koja bi novinari mogli da postave.</p>

<p>Da biste dodali novi materijal svojoj prvobitnoj poruci, dovoljno je da iskoristite dugme "dodaj".</p>

<p>Napominjemo da je Vaš identitet u tehničkom smislu potpuno prikriven. Ali morate biti pažljivi 
u vezi onoga što pišete - NIKADA ne ostavljajte svoje lične podatke (ime, prezime, adresu, radno 
mesto, broj telefona, e-mail,..) ako niste u potpunosti svesni mogućih posledica.</p>
