{{extend 'layout.html'}}
<style>
div.flash {
    background-color: green;
}

div.section {
        height: 300px;
        background:
        url(/Users/maker/dev/GlobaLeaks/globaleaks/applications/globaleaks/static/images/more.png);
    }
</style>

<h1> Configuration <span>| Configuring Globaleaks</span></h1>

<p class="intro">
    This configuration page provides almost every configuration variable present
    either in database or in cfg file, semantically grouped. Feel free to edit
    those, private value are hardcoded :P </p>
    <br>

    <div class="section">
    <h2> Configuration | Global Form </h2>
    <br>
    {{= global_form}}
    </div>

    <br>
    <h2> Configuration | Logging Form </h2>
    <br>
    {{= logging_form}}
    <hr>

    <br>
    <h2> Configuration | Authentication Form </h2>
    <br>
    {{= auth_form }}
    <hr>

    <br>
    <h2> Configuration | Mail form </h2>
    <br>
    {{= mail_form}}
    <hr>

{{pass}}

