{{extend 'layout.html'}}

<h1>Node Admin | <span>HiddenService Settings</span></h1>
<form><input type="hidden" id="edit" name="edit" /></form>
<button id="start" name="start" onclick="clicked('start')">start</button>
<button id="stop" name="stop" onclick="clicked('stop')">stop</button>

<script>

jQuery('#stop').hide();

function clicked(action) {
      jQuery('#edit').val(action);
      ajax('hiddenservice', ['edit'], '');
      switch(action) {
          case 'start':
              jQuery('#start').hide();
              jQuery('#stop').show();
              break;
          case 'stop':
              jQuery('#stop').hide();
              jQuery('#start').show();
              break;
      }
      return false;
}
</script>

{{=BEAUTIFY(response._vars)}}
