{{extend 'layout.html'}}

<style type="text/css">
#sidebar {
  width: 200px;
  float: left;
}
ul#sidemenu {
  padding: 20px;
  background: #ededed;
}

ul#sidemenu li {
  display: block;
  margin-left: 10px;
  margin-bottom: 10px;
}

ul#sidemenu a {
  color: #444;
  text-decoration: none;
  text-shadow: #fff 1px 1px 1px;
  font-weight: bold;
  font-size: 20px;
}

ul#sidemenu a:hover {
  color: #111;
}

ul#sidemenu li ul {
}

ul#sidemenu li ul li a {
  font-size: 15px;
}
#admin_page {
  background: #ededed;
  margin-left: 270px;
  padding: 30px;
}

#admin_page p {
  margin-bottom: 20px;
}
</style>



<h1>Node Admin | <span>Index</span></h1>
<div>
  <div id="sidebar">
    <ul id="sidemenu">
      <li><a href="/globaleaks/admin/targetgroups">Targets</a></li>
      <li><a href="/globaleaks/admin/stats">Stats</a></li>
      <li><a href="/globaleaks/admin/tulips">Tulips</a></li>
      <li><a href="/globaleaks/admin/config">Config</a>
        <ul>

        <li><a href="/globaleaks/admin/wizard">Wizard</a></li>
        </ul>
      </li>
      <li><a href="/globaleaks/admin/debug">Debug</a></li>
    </ul>
  </div>


  <div id="admin_page">
  <p>

  Keytar brooklyn nihil bicycle rights. Photo booth sed in, veniam carles mcsweeney's irure terry richardson cliche velit. Sustainable you probably haven't heard of them jean shorts labore. Banksy reprehenderit shoreditch id commodo, Austin nesciunt assumenda thundercats leggings exercitation four loko nulla high life blog. Nisi fanny pack banh mi, master cleanse qui thundercats viral keytar lo-fi id. Single-origin coffee deserunt artisan, locavore cred mlkshk lomo quinoa. Carles deserunt proident vero placeat.</p>

  <p>Yr etsy tumblr, elit cred banksy aute chambray portland mcsweeney's accusamus. Portland VHS echo park, sapiente consequat irure fugiat. Iphone craft beer viral food truck, tumblr assumenda pariatur nulla dreamcatcher organic. Food truck nesciunt nostrud blog wolf jean shorts. Fixie 3 wolf moon cosby sweater VHS deserunt adipisicing, williamsburg sint squid cardigan lomo. Etsy placeat magna excepteur eiusmod, ad voluptate consequat farm-to-table PBR cupidatat. In leggings adipisicing enim sed, yr gentrify.
  </p>

  <p>
  Keytar brooklyn nihil bicycle rights. Photo booth sed in, veniam carles mcsweeney's irure terry richardson cliche velit. Sustainable you probably haven't heard of them jean shorts labore. Banksy reprehenderit shoreditch id commodo, Austin nesciunt assumenda thundercats leggings exercitation four loko nulla high life blog. Nisi fanny pack banh mi, master cleanse qui thundercats viral keytar lo-fi id. Single-origin coffee deserunt artisan, locavore cred mlkshk lomo quinoa. Carles deserunt proident vero placeat.</p>

  <p>Yr etsy tumblr, elit cred banksy aute chambray portland mcsweeney's accusamus. Portland VHS echo park, sapiente consequat irure fugiat. Iphone craft beer viral food truck, tumblr assumenda pariatur nulla dreamcatcher organic. Food truck nesciunt nostrud blog wolf jean shorts. Fixie 3 wolf moon cosby sweater VHS deserunt adipisicing, williamsburg sint squid cardigan lomo. Etsy placeat magna excepteur eiusmod, ad voluptate consequat farm-to-table PBR cupidatat. In leggings adipisicing enim sed, yr gentrify.
  </p>
  <p>
  Keytar brooklyn nihil bicycle rights. Photo booth sed in, veniam carles mcsweeney's irure terry richardson cliche velit. Sustainable you probably haven't heard of them jean shorts labore. Banksy reprehenderit shoreditch id commodo, Austin nesciunt assumenda thundercats leggings exercitation four loko nulla high life blog. Nisi fanny pack banh mi, master cleanse qui thundercats viral keytar lo-fi id. Single-origin coffee deserunt artisan, locavore cred mlkshk lomo quinoa. Carles deserunt proident vero placeat.</p>

  <p>Yr etsy tumblr, elit cred banksy aute chambray portland mcsweeney's accusamus. Portland VHS echo park, sapiente consequat irure fugiat. Iphone craft beer viral food truck, tumblr assumenda pariatur nulla dreamcatcher organic. Food truck nesciunt nostrud blog wolf jean shorts. Fixie 3 wolf moon cosby sweater VHS deserunt adipisicing, williamsburg sint squid cardigan lomo. Etsy placeat magna excepteur eiusmod, ad voluptate consequat farm-to-table PBR cupidatat. In leggings adipisicing enim sed, yr gentrify.

  </p>
  <p>
  Keytar brooklyn nihil bicycle rights. Photo booth sed in, veniam carles mcsweeney's irure terry richardson cliche velit. Sustainable you probably haven't heard of them jean shorts labore. Banksy reprehenderit shoreditch id commodo, Austin nesciunt assumenda thundercats leggings exercitation four loko nulla high life blog. Nisi fanny pack banh mi, master cleanse qui thundercats viral keytar lo-fi id. Single-origin coffee deserunt artisan, locavore cred mlkshk lomo quinoa. Carles deserunt proident vero placeat.</p>

  <p>Yr etsy tumblr, elit cred banksy aute chambray portland mcsweeney's accusamus. Portland VHS echo park, sapiente consequat irure fugiat. Iphone craft beer viral food truck, tumblr assumenda pariatur nulla dreamcatcher organic. Food truck nesciunt nostrud blog wolf jean shorts. Fixie 3 wolf moon cosby sweater VHS deserunt adipisicing, williamsburg sint squid cardigan lomo. Etsy placeat magna excepteur eiusmod, ad voluptate consequat farm-to-table PBR cupidatat. In leggings adipisicing enim sed, yr gentrify.
  </p>

  </div>
</div>

{{=BEAUTIFY(response._vars)}}
