{{extend 'layout.html'}}

<style type="text/css">
#sidebar {
  width: 200px;
  float: left;
}
ul#sidemenu {
  padding: 20px;
  background: #ededed;
}

ul#sidemenu li {
  display: block;
  margin-left: 10px;
  margin-bottom: 10px;
}

ul#sidemenu a {
  color: #444;
  text-decoration: none;
  text-shadow: #fff 1px 1px 1px;
  font-weight: bold;
  font-size: 20px;
}

ul#sidemenu a:hover {
  color: #111;
}

ul#sidemenu li ul {
}

ul#sidemenu li ul li a {
  font-size: 15px;
}
#admin_page {
  background: #ededed;
  margin-left: 270px;
  padding: 30px;
}

#admin_page p {
  margin-bottom: 20px;
}
</style>

  <p>
    Invalid page: use the menu
  </p>

