{{extend 'layout.html'}}

<h1>Node statistics</h1>

<div class="intro">
{{if active:}}
Active Receivers<br>
<!-- this link is provided because this page could works as index for all node maintainer's features -->
<table class="targetlist table">
    <tr class="even">
        <td class="name">id</td>
        <td class="name">name</td>
        <td class="description">description</td>
        <td class="description">contact type</td>
        <td class="description">can delete</td>
        <td class="description">contact</td>
    </tr>
    {{i=0}}
    {{for target in active:}}
        {{i+=1}}
        {{if i % 2 == 1: }}
        <tr class="odd">
        {{else:}}
        <tr class="even">
        {{pass}}
    <td class="name">{{=target.id}}</td>
    <td class="name">{{=target.name}}</td>
    <td class="description">{{=target.desc}}</td>
    <td class="description">{{=target.contact_type}}</td>
    <td class="description">{{=target.candelete}}</td>
    <td class="description">{{=target.contact}}</td>
    </tr>
    {{pass}}
</table>
{{else:}}
    No Receiver configured, add a new receiver on <a href="/globaleaks/admin/targets/">receiver management page</a>.
{{pass}}
</div>

<div class="intro">
The <b>{{=T("Tip-off")}} list</b>:<br>
{{if flowers:}}
<table class="targetlist table">
    <tr class="even">
        <td class="name">title</td>
        <!-- has no sense that is always 0, it's a field to delete -->
        <td class="description">Submission date</td>
        <td class="description">whistleblower accesses</td>
        <td class="description">spooled</td>
    </tr>
    {{i=0}}
    {{for leak in flowers:}}
        {{i+=1}}
        {{if i % 2 == 1: }}
            <tr class="odd">
        {{else:}}
            <tr class="even">
        {{pass}}
        <td class="name">{{=leak.title}}</td>
        <td class="description">{{=leak.submission_timestamp}}</td>
        <td class="description">{{=leak.whistleblower_access}}</td>
        <td class="description">{{=leak.spooled}}</td>
    </tr>
    {{pass}}
</table>

{{else:}}
    No submission are present
    <!-- yep, text need to be reviewed -->
{{pass}}
</div>

<!-- the group was here: and is a deleted capability, also if a default one exists -->

<div class="intro">
The <b>{{=T("Tip-off")}} list</b>, of the entire set of <i>live unique links</i> in your GlobaLeaks installation.
{{if tulips:}}
<table class="targetlist table">
    <tr class="even">
        <td class="name">#id</td>
        <td class="description">receiver #</td>
        <td class="name">access done/allow</td>
        <td class="name">downld done/allow</td>
        <td class="name">comments</td>
    </tr>
    {{i=0}}
    {{for tulip in tulips:}}
        {{i+=1}}
        {{if i % 2 == 1: }}
            <tr class="odd">
        {{else:}}
            <tr class="even">
        {{pass}}
        <!-- tulip.leak_id -->
        <td class="name">{{=tulip.url[:8]}}</td>
        <td class="description">{{=tulip.target_id}}</td>
        <td class="description">{{=tulip.accesses_counter}}/{{=tulip.allowed_accesses}}</td>
        <td class="description">{{=tulip.downloads_counter}}/{{=tulip.allowed_downloads}}</td>
        <td class="description">{{=tulip.feedbacks_provided}}</td>
    </tr>
    {{pass}}
</table>

{{else:}}
    No <b>Tip-off are present!</b>
{{pass}}
</div>
