{{extend 'layout.html'}}
<style>
div.flash {
background-color: green;
}
</style>
{{if not list:}}
<h1>Node Admin <span>| Add Target</span></h1>
<p class="intro">
    The Node Administrator is the person who is actually running the GlobaLeaks node. He is aware of the context he wishes to impact and will therefore
    be able to properly construct a target list. The target list will be composed of valuable people that are willing to analyze the information
    that is sent to them. The target lists need to be as diversified as possible. The diversification of interests serves to incentivize targets into
    properly analyzing the information submitted by the Whistleblower.</p>

{{=form}}
<a class="button targetlist" href="/globaleaks/admin/targets/display">View target list</a>
{{pass}}

{{if list:}}

<!-- h1>Now go and test a leak out ;)</h1>
<ul>
<li>Name: {{=request.vars.Name}}</li>
<li>Description: {{=request.vars.Description}}</li>
<li>Email: {{=request.vars.email}}</li>
</ul -->
<h1>1. Node Admin <span>| Current Target list</span></h1>
<form><input type="hidden" id="edit" name="edit" /></form>
<table class="targetlist">
<thead>
    <th>Name</th>
    <th>Email</th>
    <th>Description</th>
    <th>Delete</th>
</thead>
<tbody>
{{i=0}}
{{for target in targets:}}
    {{if (i % 2 == 0):}}
    <tr class="even" id="target-{{=target.id}}">
    {{pass}}
    {{if (i % 2 == 1):}}
    <tr class="odd" id="target-{{=target.id}}">
    {{pass}}
        <td class="name">{{=target.name}}</td>
        <td class="email">{{=target.url}}</td>
        <td class="description">{{=target.desc}}</td>
        <td class="delete">
            <button name="delete" onclick="clicked({{=target.id}}, 'delete')">delete</button>
        </td>
    </tr>
    {{i += 1}}
{{pass}}
</table>

<a class="button whistleblower" href="/submit">Be the Whistleblower</a>

<a class="button addtarget" href="/globaleaks/admin/targets">Add target</a>

<div class="clear"></div>

{{pass}}

<script>
function clicked(id, action) {
      jQuery('#edit').val(action + '.' + id);
      ajax('targets', ['edit'], '');
      jQuery('#target-' + id).hide();
      return false;
}
</script>
