{{extend 'layout.html'}}

<style>
    .step {
         height: 500px;
     }
    .skipstep {
        float: right;
    }
</style>

<script type="text/javascript">
    function next_step()
    {
    ;
    }
</script>
<h1> Globaleaks <span>| setup Wizard </span></h1>
<hr>
<br>
<br>


<!-- create here a cool show/hide <-->
<div class="more"><a href="javascript:void();"><img src="images/more.png" alt="" border="0" /></a></div>
			<div class="title"><p class="menu">Side Options</p></div>
			<div class="clear"></div>
            <div class="spot">
                <p>Import from other sources, interactive help, ...</p>
            </div>
            <div class="description">
                <p> Import from another config: </p>
                {{=import_form}}
                <br>
            </div>

<hr>
<div id="step1" class="step" style="display:">
    <h1>Step #1 <span>| Node description</span></h1>
    <intro> Be careful when setting the node description. Using "Antani" as author
    name could give supercow powers to your pc and destroy the world.</intro>
    {{=step1}}
</div>

<div id="step2" class="step" style="display:none">
    <h1>Step #2 <span>| Supported output</span></h1>
    <intro>A small description here too, please</intro>
    {{=step2}}
</div>

<div id="step3" class="step" style="display:none">
    <h1>Step #3 <span>| Tulip settings</span></h1>
    <intro>Another another small description </intro>
    {{=step3}}
</div>

<div id="step4" class="step" style="display:none">
    <h1>Step #4 <span>| Advanced Configs</span></h1>
    <small class="skipstep"><a href="#step5"> >>Skip </a></small>

    <intro>Advanced configs here</intro>
    {{=step4}}
</div>

<div id="step5" class="step" style="display:none">
    <h1>Step #5 <span>| Logging Configs</span></h1>
    <small class="skipstep"><a href="#step6"> >>Skip </a></small>

    <intro>Configure logging options lets you manage haw many informations do you
    want to be stored.</intro>
    {{=step5}}
</div>

<div id="step6" class="step" style="display:none">
    <h1>Step #6 <span>| populate groups</span></h1>
    <small class="skipstep"><a href="#"> >>Skip </a></small>
    <intro>Populating and creating group lists could be useful whenever someone
    intend to public its tolip to a specific gender of people</intro>
    {{=step6}}
</div>

<hr>
<input id="next" type="submit" value="Next" disabled="disabled" float="right"
       onclick="next_step()" \>
