{{extend 'layout.html'}}

<style>
    .step {
         height: 500px;
     }
    .skipstep {
        float: right;
    }
</style>

<!-- create here a cool show/hide <-->
<div class="more"><a href="javascript:void();"><img src="images/more.png" alt="" border="0" /></a></div>
			<div class="title"><p class="menu">Side Options</p></div>
			<div class="clear"></div>
            <div class="spot">
                <p>Import from other sources, interactive help, ...</p>
            </div>
            <div class="description">
                <p> Import from another config: </p>
                {{=import_form}}
                <input type=submit \>

<div id="step1" class="step">
    <h1>Step #1 <span>| Node description</span></h1>
    <intro> Be careful when setting the node description. Using "Antani" as author
    name could give supercow powers to your pc and destroy the world.</intro>
    {{=step1}}
    <a href="#step2">Next</a>
</div>

<hr>
<div id="step2" class="step">
    <h1>Step #2 <span>| Supported output</span></h1>
    <intro>A small description here too, please</intro>
    {{=step2}}
    <a href="#step3">Next</a>
</div>

<hr>
<div id="step3" class="step">
    <h1>Step #3 <span>| Tulip settings</span></h1>
    <intro>Another another small description </intro>
    {{=step3}}
    <a href="#step4">Next</a>
</div>

<hr>
<div id="step4" class="step">
    <h1>Step #4 <span>| Advanced Configs</span></h1>
    <small class="skipstep"><a href="#step5"> >>Skip </a></small>

    <intro>Advanced configs here</intro>
    {{=step4}}
    <a href="#step5">Next</a>
</div>

<hr>
<div id="step5" class="step">
    <h1>Step #5 <span>| populate groups</span></h1>
    <small class="skipstep"><a href="#"> >>Skip </a></small>
    <intro>Populating and creating group lists could be useful whenever someone
    intend to public its tolip to a specific gender of people</intro>
    {{=step5}}
 <a href="#">Done</a>
</div>



