{{extend 'layout.html'}}
<style type="text/css">
    #comment-board {
        float: right;
        width: 300px;

    }

    #tulip-access {

        float: left;
        width: 300px;
    }

    .entry {
        background-color: white;
        width: 800px;
    }

    .material {

        position: relative;

    }
    #content table.targetlist {

        width: 200px;
    }

    #content a#add_material {
        top: 0px;
        right: 0px;
        width: 100px;
        position: absolute;
        padding: 5px 10px;
        background-color: green;
    }

    #content a#add_material_done {
        width: 100px;
        position: absolute;
        padding: 5px 10px;
        background-color: green;
    }

    #content .material-entry {
        background-color: #5A5655;
        padding: 30px 20px 5px 40px;
        width: 600px;
        margin-bottom: 20px;
        position: relative;
    }

    .download-box {
        position: absolute;
        bottom: 10px;
        right: 10px;

    }

    .download-box {
        position: absolute;
        bottom: 10px;
        right: 10px;

    }

    .download-box h3 {
        font-size: 15px;
    }

    .complete-box h3 {
        font-size: 20px;
    }

</style>

{{if err or delete:}}
    {{if err:}}
        <h2>invalid receipt: Tulip not found!</h2>
    {{else:}}
        <h2>Tulip removed and all relatives (#{{=delete}} tulips)</h2>
    {{pass}}

{{else:}}

{{if whistleblower: }}
<div class="pagetitle">Your submission...</div>
<p class="intro">
    Welcome back Whistleblower: this TULIP interface is unique for you.
</p>

<script id="template-upload" type="text/x-jquery-tmpl">
    {{=jQuery_templates[0]}}
</script>

<script id="template-download" type="text/x-jquery-tmpl">
    {{=jQuery_templates[1]}}
</script>

{{if session.wb_number:}}
<div id="wb_receipt">
   <h1><span>Submission Receipt</span></h1>
    <p class="tulip">
        {{=session.wb_number}}
    </p>
    <p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
do eiusmod tempor incididunt ut labore et dolore magna aliqua.
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
qui officia deserunt mollit anim id est laborum.    </p>
</div>

{{session.wb_number = None}}
{{pass}}
{{else:}}
<div class="pagetitle">You've received a submission...</div>
<p class="intro">
This TULIP has been sent to you by an anonymous whistleblower. She/He would like it for you to pay special attention to the information and material contained therein. Please consider that whistleblowers often expose themselves to high personal risks in order to protect the public good. Therefore the material that they provide with this TULIP should be considered of high importance.<br>
If you are not interested in receive Tulips, or want change the segnalation properties, could access to the <a href="{{=target_url}}">personal receiver page</a>.
</p>

{{pass}}
<div class="entry">

    <h2 class="title">TULIP</h2>

    {{if not whistleblower:}}
    <div class="downloads-left{{if not download_available: }} full{{pass}}">
        Downloads: <strong>{{=tulip_download}}/{{=tulip_allowed_download}}</strong>
    </div>
    {{pass}}
    <div class="total-clicks">
        Total clicks: <strong>{{=tulip_accesses}}</strong>
    </div>
    <div class="clear"></div>

    <p class="info">
        {{if whistleblower:}}

        <!-- This is your previously submitted material, only you had the property to add new data -->

        {{else:}} This is the material submitted by the whistleblower for your revision. You are invited to:
         <ul>
             <li>Do not spread this link, is intended be for your eyes only</li>
             <li>Analyze the received material, your contribution is useful to discern the truth</li>
             <li>Ask useful details to the whistleblower thru the comment box</li>
         </ul>
         {{pass}}
    </p>

    {{if 0: #leak_desc:}}
        <h2>Material description</h2>
        <p class="description">{{=leak_desc}}</p>
    {{pass}}

    {{for field_name, content, type in leak_extra: }}
            <div class="material_submission material_{{=type}}">
                <h2>{{=field_name}}</h2>
                <p>{{=content}}</p>
            </div>
    {{pass}}

    {{if leak_tags:}}
        <p class="left_title">Tags:</p>
        <p class="description">{{=leak_tags}}</p>
    {{pass}}

    <div class="material">
        <h3>Material</h3>
        {{if whistleblower:}}
            <a href="javascript:void(0);" class="button" id="add_material">Add</a>
        {{pass}}
        {{for number, files in submission_materials:}}
        <div class="material-entry">
            <ul>
                {{for file in files:}}
                    <li class="{{=file['ext']}}">{{=file['filename']}} ({{=file['size']}})</li>
                {{pass}}
            </ul>
            {{if download_available and not whistleblower and download_available != -1: }}
                {{url = tulip_url+"/"+number if number else tulip_url+"/0"}}
                <div class="download-box">
                    <h3>Download</h3>
                    <a href="/globaleaks/tulip/download/{{=url}}" class="zip">ZIP</a>
                    <a href="/globaleaks/tulip/download/{{=url}}" class="crypt notimplemented">Encrypted ZIP</a>
                    <a href="/globaleaks/tulip/download/{{=url}}" class="crypt notimplemented">PGP Encrypted ZIP</a>
                </div>
            {{pass}}

            {{if download_available == -1:}}
                <h3>Material has not been spooled yet... check back later</h3>
            {{pass}}
        </div>
        {{pass}}
        {{if not whistleblower:}}
            {{if not download_available == -1:}}
            <div class="material-entry">
                <div class="complete-box">
                    <h3>Complete Download</h3>
                    <a href="/globaleaks/tulip/download/{{=tulip_url}}" class="zip">ZIP</a>
                    <a href="/globaleaks/tulip/download/{{=tulip_url}}" class="crypt notimplemented">Encrypted ZIP</a>
                    <a href="/globaleaks/tulip/download/{{=tulip_url}}" class="crypt notimplemented">PGP Encrypted ZIP</a>
                </div>
            </div>
            {{pass}}
        {{else:}}
        <div class="material-entry" id="fileupload">
            <form action="" method="POST" enctype="multipart/form-data">
                <div class="fileupload-buttonbar">
                    <label class="fileinput-button">
                        <span>Add files...</span>
                        <input type="file" name="files[]" multiple>
                    </label>
                </div>
            </form>
            <div class="fileupload-content">
                <table class="files"></table>
                <div class="fileupload-progressbar"></div>
            </div>
            <a href="javascript:void(0)" class="button" id="add_material_done">Done</a>
        </div>
        {{pass}}
        <div class="clear"></div>

    </div>

    <!-- h2>Feedbacks and Pertinentness (overall vote: {{=pertinentness}})</h2 -->


    <div id="comment-board">
    {{for feedback in feedbacks:}}
        {{if not feedback.commenter_id:}}
            <div class="comment" id="wb_comment">
            <h2 class="name">Whistleblower</h2>
            <p class="comment">{{=feedback.comment}}</p>
            </div>
        {{else:}}
            {{if feedback.commenter_id == int(name):}}
                <div class="comment" id="your_comment">
                <h2 class="name">You</h2>
                <p class="comment">{{=feedback.comment}}</p>
                </div>
            {{else:}}
                <div class="comment" id="other_comment">
                    <h2 class="name">ID #{{=feedback.commenter_id}}</h2>
                    <p class="comment">{{=feedback.comment}}</p>
                </div>
            {{pass}}
        {{pass}}
    {{pass}}
    {{if not feedbacks:}}
        <p>No comments</p>
    {{pass}}

    <form name="receiver_input" method="POST" action="">
        {{if not whistleblower: }}
            <!-- p>If you have questions for the Whistleblower, you are invited to write them in this box. This message can be viewed from anyone with a Tulip pointing to this material.</p -->
        {{else:}}
<!--             <p>A receiver could express doubt, ask for clarifications and request help in understanding your submitted material. You are invited to answer those questions with the area below.</p> -->        {{pass}}
        <input type="text" id="comment" name="Comment">
<!--         <p>If you have downloaded the Material and evaluated the pertinence of the submitted data, you are invited to express a vote. This could help other receivers to avoid wasting time from misleading submissions. When you express a vote, it would be nice to motivate it with an appropriate feedback.</p> -->        <br>
        {{if not whistleblower:}}
            {{if not previous_vote:}}
<!--                 <table cellpadding="5" cellspacing="5" border="0" width="100%">
                    <tr>
                        <td><p class="voteImgText">IS pertinient</p></td>
                        <td><p class="voteImgText">is NOT pertinent</p></td>
                    </tr>
                    <tr>
                        <td>
                            <span class="voteImgText" id="is_pertinent">
                            <a href="javascript:void(0)" onClick="isPertinent();">
                            <img src="../globaleaks/static/images/isPertinent.png" class="voteImg" />
                            </a>
                            </span>
                        </td>
                        <td>
                            <span class="voteImgText" id="is_not_pertinent">
                            <a href="javascript:void(0)" onClick="notPertinent();">
                            <img src="../globaleaks/static/images/notPertinent.jpg" class="voteImg" />
                            </a>
                            </span>
                        </td>
                    </tr>
                </table>
                <input type="hidden" name="Vote" id="expressed_vote">
                -->
             {{else:}}
                 your previous vote was:<b>
                 {{if previous_vote == "-1":}}
                     not pertinent
                 {{else:}}
                     pertinent
                 {{pass}}
                 </b>
             {{pass}}
         {{pass}}
        <input type="submit" name="send" value="Send your feedback">
    </form>
    </div>


    <div id="tulip-access">
    <h2>Tulip access statistics</h2>
    <table class="targetlist">
        <thead>
            <th class="downloads">ID</th>
<!--             <th class="downloads">pertinence vote</th> -->
            <th class="downloads">Comments</th>
            <th class="downloads">Views</th>
            <th class="downloads">Downloads</th>
        </thead>
        <tbody>
            {{i=0}}
            {{for peer in tulipUsage: }}
                {{i += 1}}
                {{if i % 2 == 1: }}
                    <tr class="odd">
                {{else:}}
                    <tr class="even">
                {{pass}}
             {{if peer.target_id != "0":}}
                 <td class="name">{{=i}}</td>
<!--                  <td class="downloads">{{=peer.express_vote}}</td> -->
                 <td class="downloads">{{=peer.feedbacks_provided}}</td>
                 <td class="downloads">{{=peer.accesses_counter}}/{{=tulip_allowed_accesses}}</td>
                 <td class="downloads">{{=peer.downloads_counter}}/{{=tulip_allowed_download}}</td>
             {{else:}}
                 <td class="name">Whistleblower</td>
<!--                  <td class="downloads">not permitted</td> -->
                 <td class="downloads">{{=peer.feedbacks_provided}}</td>
                 <td class="downloads">{{=peer.accesses_counter}}/{{=tulip_allowed_accesses}}</td>
                 <td class="downloads">-</td>
             {{pass}}
            </tr>
            {{pass}}
        </tbody>
    </table>

    {{if 0: #not whistleblower:}}
    <p class="intro">
      <b><a href="/globaleaks/tulip/forward/{{=tulip_url}}">
        Forward to another targetgroup
      </a></b></p>
    {{pass}}
    </div>

    {{if target_del_cap:}}
    <div class="description">You have the right to delete this submitted material. This effect delete also all the related Tulips for the other receiver.</div>
    <form name="delete_tulips" method="POST" action="">
        I want delete this tulip and all the tulips derived from the same material: <input type="checkbox" name="delete" />
        <br>
        <input type="submit" name="send" value="Yes I'm sure, I want delete all the tulips related" />
    </form>
    {{pass}}

</div>

{{pass}}
    <div id="messages">
    </div>

    <script type="text/javascript">
    $(document).ready(function() {
        'use strict';
        function notimpl() {
            jQuery("#messages").html("NOT IMPLEMENTED!");
        }
        function cleanPertinence() {
            var toCleanDiv = document.getElementById("is_not_pertinent");
            toCleanDiv.innerHTML = '';
            toCleanDiv = document.getElementById("is_pertinent");
            toCleanDiv.innerHTML = "<b>Thanks, you've express your vote, \"Send your feedback\" to confirm</b>";
        }

        function isPertinent() {
            var hiddenVar = document.getElementById("expressed_vote");
            hiddenVar.value = "+1";
            cleanPertinence();
        }
        function notPertinent() {
            var hiddenVar = document.getElementById("expressed_vote");
            hiddenVar.value = "-1";
            cleanPertinence();
        }

        var tulip = window.location.href.split("/");

        $('#fileupload').hide();
        $("#add_material").click(function() { $('#fileupload').show(); });
        $("#add_material_done").click(function() {
            $.getJSON('/globaleaks/tulip/fileupload/'+tulip[tulip.length-1]+"/?commit=1",
                      function(data) {
                          if (data.success == "true") {
                              $("#fileupload").remove(".files");
                              $('#fileupload').hide();
                          }
                          else {
                              alert("Upload failed! :(");
                          }
                          var new_div = $("<div/>").addClass("material-entry");
                          var new_ul = $("<ul/>");
                          for (var i=0;i<data.data.length;i++) {
                              var new_li = $("<li/>").addClass(data.data[i][0]);
                              new_li.text(data.data[i][1]+" "+data.data[i][2]);
                              new_li.appendTo(new_ul);
                          }
                          new_ul.appendTo(new_div);
                          new_div.hide();
                          new_div.insertAfter($(".material-entry:last"));
                          new_div.fadeIn("fast");
            });
        });
        // Initialize the jQuery File Upload widget:
        $('#fileupload').fileupload({
            url: "/globaleaks/tulip/fileupload/"+tulip[tulip.length-1],
            autoUpload: true,
            /*
             * not working - would likely be fixed to support upload resume
            maxChunkSize: 1000000,
            multipart: false,
            add: function (e, data) {
                   var that = this;
                   $.getJSON('/globaleaks/submission/fileupload', {file: data.files[0].name}, function (file) {
                       data.uploadedBytes = file && file.size;
                       $.blueimpUI.fileupload.prototype.options.add.call(that, e, data);
                    });
                  }
              */

            // those spaces used to avoid TWO GRAPH IN SEQUENCE
        });

        $('#fileupload').bind('fileuploadprogressall', function (e, data) {
            if (window.speedarray) {

                var speed = (data.loaded - speedarray[1])/(Date.now() - speedarray[0]);
                window.average = (window.average + speed)/2;
                var eta = ((data.total - data.loaded)/( window.average * 1000))/ 60;
                // console.log("Speed: " + speed + "KB/s" + " ETA: " + eta + " minutes");

                if ((Date.now() - window.last_update) > 1000) {
                    $("#speedbox").children("span").replaceWith(
                        "<span>" + Math.round(window.average) + " KB/s (ETA: " + Math.round(eta*100)/100 + " mins)</span>"
                    );
                    window.last_update = Date.now();
                }
                window.speedarray = [Date.now(), data.loaded];

            } else {
                window.speedarray = [Date.now(), data.loaded];
                window.average = window.speedarray[1];
                window.last_update = Date.now() + 2000;
            }

            $('.buttonFinish').addClass('buttonDisabled');
            var new_height = $('#fileupload').parents('.content').innerHeight();
            $('.stepContainer').css('height', new_height);

        });

        $('#fileupload').bind('fileuploadstop', function (e, data) {
            $("#speedbox").children("span").replaceWith("<span></span>");
        });

        $('#fileupload').bind('fileuploaddone', function (e, data) {
            var new_height = $('#fileupload').parents('.content').innerHeight();
            $('.stepContainer').css('height', new_height);
            $("#speedbox").children("span").replaceWith("<span></span>");
        });

        $('#comment').keypress(function(e) {
            var comment = $('#comment');
            if(comment.val().length > 10) {
                console.log(e);
                var pos = comment.val().length;

                comment.replaceWith('<textarea name="Comment" id="comment" rows="4">' + comment.val() + '</textarea>');

                comment = $("#comment").get(0);

                if (comment.setSelectionRange) {
                    console.log("USING 1");
                    console.log($(this));
                  comment.setSelectionRange(pos, pos);
                  comment.focus();

                } else if (comment.createTextRange) {
                  var range = comment.createTextRange();
                  range.collapse(true);
                  range.moveEnd('character', pos);
                  range.moveStart('character', pos);
                  range.select();
                  comment.focus();
                }
            }

//
                // new function($) {
  // $.fn.setCursorPosition = function(pos) {
    // if ($(this).get(0).setSelectionRange) {
      // $(this).get(0).setSelectionRange(pos, pos);
    // } else if ($(this).get(0).createTextRange) {
      // var range = $(this).get(0).createTextRange();
      // range.collapse(true);
      // range.moveEnd('character', pos);
      // range.moveStart('character', pos);
      // range.select();
    // }
  // }
// }(jQuery);
//
//
//
// FieldRange.select();
//
                // $('#comment').setCursorPosition($("#comment").val().length);
        });
    });
    </script>
