{{extend 'layout.html'}}

{{if err or delete:}}
    {{if err:}}
        <h2>invalid receipt: Tulip not found!</h2>
    {{else:}}
        <h2>Tulip removed and all relatives (#{{=delete}} tulips)</h2>
    {{pass}}

{{else:}}

{{if whistleblower: }}
<div class="pagetitle">Your submission...</div>
<p class="intro">
    Welcome back Whistleblower: this TULIP interface is unique for you.
</p>

{{else:}}
<div class="pagetitle">You've received a submission...</div>
<p class="intro">
This TULIP has been sent to you by an anonymous whistleblower. She/He would like it for you to pay special attention to the information and material contained therein. Please consider that whistleblowers often expose themselves to high personal risks in order to protect the public good. Therefore the material that they provide with this TULIP should be considered of high importance.<br>
If you are not interested in receive Tulips, or want change the segnalation properties, could access to the <a href="{{=target_url}}">personal receiver page</a>.
</p>

{{pass}}
<div class="entry">

    <h2 class="title">{{=leak_title}}</h2>

    {{if not whistleblower:}}
    <div class="downloads-left{{if not download_available: }} full{{pass}}">
        Downloads: <strong>{{=tulip_download}}/{{=tulip_allowed_download}}</strong>
    </div>
    {{pass}}
    <div class="total-clicks">
        Total clicks: <strong>{{=tulip_accesses}}</strong>
    </div>
    <div class="clear"></div>

    <p class="info">
        {{if whistleblower:}} This is your previously submitted material, only you had the property to add new data
        {{else:}} This is the material submitted by the whistleblower for your revision. You are invited to:
         <ul>
             <li>Do not spread this link, is intended be for your eyes only</li>
             <li>Analyze the received material, your contribution is useful to discern the truth</li>
             <li>Ask useful details to the whistleblower thru the comment box</li>
         </ul>
         {{pass}}
    </p>

    {{if leak_desc:}}
        <h2>Material description</h2>
        <p class="description">{{=leak_desc}}</p>
    {{pass}}

    {{if leak_extra:}}
        {{=BEAUTIFY(leak_extra)}}
    {{pass}}

    {{if leak_tags:}}
        <p class="left_title">Tags:</p>
        <p class="description">{{=leak_tags}}</p>
    {{pass}}

    <div class="material">
        <h3>Material</h3>
        <ul>
            {{for file in files:}}
                <li class="{{=file.ext}}">{{=file.filename}} ({{=file.size}})</li>
            {{pass}}
        </ul>
        {{if download_available and not whistleblower and download_available != -1: }}
            {{url = tulip_url}}
            <h3>Download</h3>
            <a href="{{=URL('globaleaks','tulip','download', args=url)}}" class="zip">ZIP</a>
            <a href="{{=URL('globaleaks','tulip','download', args=url)}}" class="crypt notimplemented">Encrypted ZIP</a>
            <a href="{{=URL('globaleaks','tulip','download', args=url)}}" class="crypt notimplemented">PGP Encrypted ZIP</a>
        {{pass}}
        {{if download_available == -1:}}
            <h3>Material has not been spooled yet... check back later</h3>
        {{pass}}
        <div class="clear"></div>

    </div>

    <h2>Feedbacks and Pertinentness (overall vote: {{=pertinentness}})</h2>

    {{for feedback in feedbacks:}}
        {{if not feedback.commenter_id:}}
            <p class="right_title">This is from the Whistleblower</p>
            <p class="right_intro">{{=feedback.comment}}</p>
        {{else:}}
            {{if feedback.commenter_id == int(name):}}
                <p class="left_title">This is your feedback</p>
                <p class="left_intro">{{=feedback.comment}}</p>
            {{else:}}
                <p class="common_title">Receiver id #{{=feedback.commenter_id}}</p>
                <p class="common_intro">{{=feedback.comment}}</p>
            {{pass}}
        {{pass}}
    {{pass}}

    <form name="receiver_input" method="POST" action="">
        {{if not whistleblower: }}
            <p>If you have questions for the Whistleblower, you are invited to write them in this box. This message can be viewed from anyone with a Tulip pointing to this material.</p>
        {{else:}}
            <p>A receiver could express doubt, ask for clarifications and request help in understanding your submitted material. You are invited to answer those questions with the area below.</p>
        {{pass}}
        <textarea rows="10" name="Comment" cols="40"></textarea>
        <p>If you have downloaded the Material and evaluated the pertinence of the submitted data, you are invited to express a vote. This could help other receivers to avoid wasting time from misleading submissions. When you express a vote, it would be nice to motivate it with an appropriate feedback.</p>
        <br>
        {{if not whistleblower:}}
            {{if not previous_vote:}}
                <table cellpadding="5" cellspacing="5" border="0" width="100%">
                    <tr>
                        <td><p class="voteImgText">IS pertinient</p></td>
                        <td><p class="voteImgText">is NOT pertinent</p></td>
                    </tr>
                    <tr>
                        <td>
                            <span class="voteImgText" id="is_pertinent">
                            <a href="javascript:void()" onClick="isPertinent();">
                            <img src="../globaleaks/static/images/isPertinent.png" class="voteImg" />
                            </a>
                            </span>
                        </td>
                        <td>
                            <span class="voteImgText" id="is_not_pertinent">
                            <a href="javascript:void()" onClick="notPertinent();">
                            <img src="../globaleaks/static/images/notPertinent.jpg" class="voteImg" />
                            </a>
                            </span>
                        </td>
                    </tr>
                </table>
                <input type="hidden" name="Vote" id="expressed_vote">
             {{else:}}
                 your previous vote was:<b>
                 {{if previous_vote == "-1":}}
                     not pertinent
                 {{else:}}
                     pertinent
                 {{pass}}
                 </b>
             {{pass}}
         {{pass}}
        <input type="submit" name="send" value="Send your feedback">
    </form>
    <br>

    {{if not whistleblower:}}
    <p class="intro">
      <b><a href="/globaleaks/tulip/forward/{{=tulip_url}}">
        Forward to another targetgroup
      </a></b></p>
    {{pass}}

    <h2>Tulip accesses statistics</h2>
    <table class="targetlist">
        <thead>
            <th class="downloads">Id #</th>
            <th class="downloads">pertinence vote</th>
            <th class="downloads">text feedbacks</th>
            <th class="downloads">Views</th>
            <th class="downloads">Downloads</th>
        </thead>
        <tbody>
            {{i=0}}
            {{for peer in tulipUsage: }}
                {{i += 1}}
                {{if i % 2 == 1: }}
                    <tr class="odd">
                {{else:}}
                    <tr class="even">
                {{pass}}
             {{if peer.target_id != "0":}}
                 <td class="name">{{=i}}</td>
                 <td class="downloads">{{=peer.express_vote}}</td>
                 <td class="downloads">{{=peer.feedbacks_provided}}</td>
                 <td class="downloads">{{=peer.accesses_counter}}/{{=tulip_allowed_accesses}}</td>
                 <td class="downloads">{{=peer.downloads_counter}}/{{=tulip_allowed_download}}</td>
             {{else:}}
                 <td class="name">Whistleblower</td>
                 <td class="downloads">not permitted</td>
                 <td class="downloads">{{=peer.feedbacks_provided}}</td>
                 <td class="downloads">{{=peer.accesses_counter}}/{{=tulip_allowed_accesses}}</td>
                 <td class="downloads">not permitted</td>
             {{pass}}
            </tr>
            {{pass}}
        </tbody>
    </table>
    
    {{if target_del_cap:}}
    <div class="description">You have the right to delete this submitted material. This effect delete also all the related Tulips for the other receiver.</div>
    <form name="delete_tulips" method="POST" action="">
        I want delete this tulip and all the tulips derived from the same material: <input type="checkbox" name="delete" />
        <br>
        <input type="submit" name="send" value="Yes I'm sure, I want delete all the tulips related" /> 
    </form>
    {{pass}}  

</div>

{{pass}}
    <div id="messages">
    </div>

    <script type="text/javascript">
    function notimpl() {
        jQuery("#messages").html("NOT IMPLEMENTED!");
    }
    function cleanPertinence() {
        var toCleanDiv = document.getElementById("is_not_pertinent");
        toCleanDiv.innerHTML = '';
        toCleanDiv = document.getElementById("is_pertinent");
        toCleanDiv.innerHTML = "<b>Thanks, you've express your vote, \"Send your feedback\" to confirm</b>";
    }

    function isPertinent() {
        var hiddenVar = document.getElementById("expressed_vote");
        hiddenVar.value = "+1";
        cleanPertinence();
    }
    function notPertinent() {
        var hiddenVar = document.getElementById("expressed_vote");
        hiddenVar.value = "-1";
        cleanPertinence();
    }
    </script>
