{{extend 'layout.html'}}

<h1>GlobaLeaks first setup</h1>
<br>

<span class="pagetitle">mandatory configuration</span>
<p>These informations are required to conclude this step</p>
<div class="intro">
{{=mandatory}}
<b>Once you've filled those information, you need to restart GlobaLeaks</b>
</div>

<span class="pagetitle">required configuration</span>
<p>These informations are required to run correctly a node, but could be modified in a second time editing globaleaks.conf</p>
<div class="intro">
{{=required}}
</form>
</div>

<span class="pagetitle">optional configuration</span>
<p>These informations are optional, a node could works fine with the following defaults</p>
<div class="intro">
{{=optional}}
</form>
</div>
