{{extend 'layout.html'}}

<h1>GlobaLeaks required a setup</h1>
<p>This node don't seem to be setup properly. You need to complete the <b>mandatory configuration</b> before use it</p>
<br>

<span class="pagetitle">mandatory configuration</span>
<p>These informations are required to conclude this step, they will be recorded in the local globaleaks.conf</p>
<div class="intro">
{{=mandatory}}
<b>Once you've filled those information, you need to add the receivers, in order to make works the submission logic: proceed to the <a href="/globaleaks/admin/targets/display">receiver page</a>.</b>
</div>

<span class="pagetitle">required configuration</span>
<p>These informations are required to run correctly a node, but could be modified in a second time editing globaleaks.conf</p>
<div class="intro">
{{=required}}
</form>
</div>

<span class="pagetitle">optional configuration</span>
<p>These informations are optional, a node could works fine with the following defaults</p>
<div class="intro">
{{=optional}}
</form>
</div>
