{{extend 'layout.html'}}

{{if configured:}}

    <b>Now you need to add the receivers, in order to make works the submission logic: proceed to the <a href="/globaleaks/admin/targets/display">receiver page</a>.
    </b><br><br>
    Settings can be changed editing <i>globaleks.conf</i>, you may find a lot of comments inside, and the original copy reside in defaults/original.globaleaks.conf<br>
     <br>
{{else:}}

    <h1>GlobaLeaks required a setup</h1>
    <p>This node don't seem to be setup properly. You need to setup the administrative password</p> <br>

    <span class="pagetitle">mandatory configuration</span>
    <p>These informations are required to conclude this step, they will be recorded in the local globaleaks.conf</p>
    <div class="intro">
    {{=mandatory}}
    </div>

{{pass}}
