{{extend 'layout.html'}}

<p>During the Ottoman Empire, the tulip became very popular in Ottoman territories and was seen as a symbol of abundance and indulgence. In fact, the era during which the Ottoman Empire was wealthiest is often called the Tulip era or Lale Devri in Turkish.</p>

<p>In classic and modern Persian literature, special attention has been given to these beautiful flowers, and in recent times, tulips have featured in the poems of Simin Behbahani. However, the tulip was a topic for Persian poets as far back as the thirteenth century. Musharrifu'd-din Saadi,[clarification needed] in his poem Gulistan, described a visionary, garden paradise with 'The murmur of a cool stream / bird song, ripe fruit in plenty / bright multicoloured tulips and fragrant roses...'</p>

<p>The Black Tulip is the title of a historical romance by the French author Alexandre Dumas, père. The story takes place in the Dutch city of Haarlem, where a reward is offered to the first grower who can produce a truly black tulip.</p>

<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/Tulip_with_variegated_colors.jpg/150px-Tulip_with_variegated_colors.jpg"/>

{{=BEAUTIFY(response._vars)}}
