{{extend 'layout.html'}}

{{if err:}}

<h2>Tulip not found!</h2>

{{else:}}

{{if whistleblower: }}
<h1>4. Whistleblower<span>| Tulip</span></h1>
<p class="intro">
    Welcome back Whistleblower: this Tuplip view is unique for you. When you insert a comments, it would appear marked by the whistleblower, therefore should be useful to the receiver, to better understand your submitted material.<br>
    If you are using GlobaLeaks platform because you require anonymity, keep attenction while commenting, because the information you typing could contain some details able to track you. If you plan to reamin protected behind the tuplip, do not exchage other communications methods, like email, account, and do not click on the links that a target could write here.
</p>
{{else:}}
<h1>3. Target<span>| Tulip</span></h1>
<p class="intro">
    You are a choosen Reciver of the tulip. Tulip is a link with special properties: every target has one uniqe link, therefore the node administration could know if a target is actually consulting the tulip or not. Every tulip could be password protected, you are invited to go in your <a href="#">$target page</a> and setup an appropriate protection. Every tulip has a limited number of download permitted, this is make to avoid the spreading of this link. <br>
    <br>
    Being you a choosen person, with recognized ability to understand and contextualize the submitted material, you has been selected because the node administrator belive in your trustworthiness.<br>
    The material under analysis could contain something <b>Pertinent</b> or even <b>Not Pertinent</b>, you are invited to express a judice because this should help in information analysis and selection.<br>
    If the received material is not clear to you, you should write a comment. The comments should be readed from the whistleblower and from the other Targets of this Tulip.
</p>


{{pass}}
<div class="entry">

    <h2 class="title">{{=leak_title}}</h2>
    
    {{if not whistleblower:}}
    <div class="downloads-left{{if int(tulip_allowed_downloads) != 0 and int(tulip_downloads) >= int(tulip_allowed_downloads): }} full{{pass}}">
        Downloads: <strong>{{=tulip_downloads}}/{{=tulip_allowed_downloads}}</strong>
    </div>
    {{pass}}
    <div class="total-clicks">
        Total clicks: <strong>{{=tulip_accesses}}</strong>
    </div>
    <div class="clear"></div>

    <p class="description">
        In this demo, the Material is an example not submitted by the whistleblower
    </p>
    
    <div class="material">
        <h3>Material</h3>
        <ul>
            <li class="zip">dancemonkeyboy.mpg (3.0 M)</li>
            <li class="pdf">Pentagon-Papers-Index.pdf (1.4 M)</li>
            <li class="img">Tuskegee-syphilis-experiment.gif (172 K)</li>
        </ul>
        {{if not dead and not whistleblower: }}
            {{url = tulip_url}}
            <h3>Download</h3>
            <a href="{{=URL('globaleaks','tulip','download', args=url)}}" class="zip">ZIP</a>
            <a href="{{=URL('globaleaks','tulip','download', args=url)}}" class="crypt notimplemented">Encrypted ZIP</a>
            <a href="{{=URL('globaleaks','tulip','download', args=url)}}" class="crypt notimplemented">PGP Encrypted ZIP</a>
        {{pass}}
        <div class="clear"></div>
        
    </div>
    
    <h2>Target list</h2>
    <table class="targetlist">
        <thead>
            <th>Name</th>
            <th>Description</th>
            <th class="downloads">Clicks</th>
            <th class="downloads">Downloads</th>
        </thead>
        <tbody>
            {{i=0}}
            {{for target in targets: }}
            {{if i % 2 == 1: }}
            <tr class="odd">
            {{else:}}
            <tr class="even">
            {{pass}}
                <td class="name">{{=target.name}}</td>
                <td class="description">{{=target.desc}}</td>
                <td class="downloads">10</td>
                <td class="downloads">4</td>
            </tr>
            {{pass}}
        </tbody>
    </table>
    
</div>
    <!-- table>
    <tr><td><h2>PGP Security</h2></td></tr>
    <tr id="no_table_Description__row">
    <td class="w2p_fl">
        <label for="PGPKey" id="pgpkey">PGP Key: </label>
    </td>
    <td class="w2p_fw">
        <input onclick="notimpl()" type="file" class="notimplemented" name="pgp_key" >
    </td>
    <td class="w2p_fc"></td>
    </tr>

    <tr id="no_table_Description__row">
    <td class="w2p_fl">
        <label for="TulipEncryption" id="tulip_encryption">Tulip Notification Encryption: </label>
    </td>
    <td class="w2p_fw">
        <input onclick="notimpl()" type="checkbox" class="notimplemented" name="tulip_encryption" >
    </td>
    <td class="w2p_fc"></td>
    </tr>

    <tr id="no_table_Description__row">
    <td class="w2p_fl">
        <label for="MaterialEncryption" id="pgpkey">Material Encryption: </label>
    </td>
    
    <td class="w2p_fw">
        <input onclick="notimpl()" type="checkbox" class="notimplemented" name="material_encryption">
    </td>
    <td class="w2p_fc"></td>
    </tr>

    <tr><td><h2>Password</h2></td></tr>


    <tr id="no_table_Description__row">
    <td class="w2p_fl">
        <label for="Password" id="password">Password: </label>
    </td>
    
    <td class="w2p_fw">
        <input onclick="notimpl()" type="password" class="notimplemented" name="password">
    </td>
    <td class="w2p_fc"></td>
    </tr>

    <tr id="no_table_Description__row">
    <td class="w2p_fl">
        <label for="RestrictAccess" id="restrict_access">Restrict tulip access with my password: </label>
    </td>
    
    <td class="w2p_fw">
        <input onclick="notimpl()" type="checkbox" class="notimplemented" name="restrict_access">
    </td>
    <td class="w2p_fc"></td>
    </tr>


    <tr id="no_table_Description__row">
    <td class="w2p_fl">
        <label for="ZipEncryption" id="zip_encryption">Material zip encryption with my password: </label>
    </td>
    
    <td class="w2p_fw">
        <input onclick="notimpl()" type="checkbox" class="notimplemented" name="zip_encryption">
    </td>
    <td class="w2p_fc"></td>
    </tr>

    
    </table-->

{{pass}}
    <div id="messages">
    </div>
    
    <script type="text/javascript">
    function notimpl() {
        jQuery("#messages").html("NOT IMPLEMENTED!");
    }
    </script>
