{{extend 'layout.html'}}

{{if err:}}

<h2>Tulip not found!</h2>

{{else:}}

{{if whistleblower: }}
<h1>4. Whistleblower<span>| TULIP</span></h1>
<p class="intro">
    Welcome back Whistleblower: this TULIP interface is unique for you.
    If you are using the GlobaLeaks platform with anonymity in mind, be aware that using this page over an inscure channel may lead to the compromise of your identity.</p>

<p>In the future a comment interface will be implemented (<a href="https://blueprints.launchpad.net/globaleaks/+spec/tulip-comments">blueprint</a>). The comments left by you will appear as comming from the Whistleblower. It may be possible that targets could try to identify you, so be sure to not link to any other communication means (email, twitter, facebook, etc.). Be also careful when clicking on external links, as these may lead to the compromise of your identity.</p>

{{else:}}
<h1>3. Target<span>| Tulip</span></h1>
<p class="intro">
This TULIP has been sent to you by an anonymous whistleblower. She/He would like it for you to pay special attention to the information and material contained therein. Please consider that whistleblowers often expose themselves to high personal risks in order to protect the public good. Therefore the material that they provide with this TULIP should be considered of high importance.<br>
If you are not interested in receive Tulips, or want change the segnalation properties, could access to the <a href="{{=target_url}}">personal receiver page</a>.
</p>

{{pass}}
<div class="entry">

    <h2 class="title">{{=leak_title}}</h2>

    {{if not whistleblower:}}
    <div class="downloads-left{{if not download_available: }} full{{pass}}">
        Downloads: <strong>{{=tulip_download}}/{{=tulip_allowed_download}}</strong>
    </div>
    {{pass}}
    <div class="total-clicks">
        Total clicks: <strong>{{=tulip_accesses}}</strong>
    </div>
    <div class="clear"></div>

    <p class="info">
        {{if whistleblower:}} This is your previously submitted material, only you had the property to add new data
        {{else:}} This is the material submitted by the whistleblower for your revision. You are invited to:
         <ul>
             <li>Do not spread this link, is intended be for your eyes only</li>
             <li>Analyze the received material, your contribution is useful to discern the truth</li>
             <li>Ask useful details to the whistleblower (<b>Todo:</b>checks if comments are available)</li>
         </ul>
         {{pass}}
    </p>

    <p class="description">{{=leak_desc}}</p>
    <p class="description">{{=leak_tags}}</p>

    <div class="material">
        <h3>Material</h3>
        <ul>
            {{for file in files:}}
                <li class="{{=file.ext}}">{{=file.filename}} ({{=file.size}})</li>
            {{pass}}
        </ul>
        {{if download_available and not whistleblower: }}
            {{url = tulip_url}}
            <h3>Download</h3>
            <a href="{{=URL('globaleaks','tulip','download', args=url)}}" class="zip">ZIP</a>
            <a href="{{=URL('globaleaks','tulip','download', args=url)}}" class="crypt notimplemented">Encrypted ZIP</a>
            <a href="{{=URL('globaleaks','tulip','download', args=url)}}" class="crypt notimplemented">PGP Encrypted ZIP</a>
        {{pass}}
        <div class="clear"></div>

    </div>

    <h2>Target list</h2>
    <table class="targetlist">
        <thead>
            <th>Name</th>
            <th>Description</th>
            <th class="downloads">Clicks</th>
            <th class="downloads">Downloads</th>
        </thead>
        <tbody>
            {{i=0}}
            {{for target in targets: }}
                {{i += 1}}
                {{if i % 2 == 1: }}
                <tr class="odd">
                {{else:}}
                <tr class="even">
                {{pass}}
             <td class="name">{{=target.name}}</td>
             <td class="description">{{=target.desc}}</td>
             <td class="downloads">{{=tulip_accesses}}/{{=tulip_allowed_accesses}}</td>
             <td class="downloads">{{=tulip_download}}/{{=tulip_allowed_download}}</td>
            </tr>
            {{pass}}
        </tbody>
    </table>

</div>

{{pass}}
    <div id="messages">
    </div>

    <script type="text/javascript">
    function notimpl() {
        jQuery("#messages").html("NOT IMPLEMENTED!");
    }
    </script>
