{{extend 'layout.html'}}

<div id="receiptbox">
<h2>Whistleblower Tulip Receipt</h2>
<form action="" method="POST">
<input type="text" name="Receipt" style="width: 150px"/>
<input type="submit" name="send"/>
</form>
</div>
<h1>Welcome to {{=settings.globals.title}}</h1>
<div class="intro">
 <p>
    {{=presentation_text}}
 </p>
</div>

<div onclick="location.href='{{=URL('submission', 'index')}}'" class="submitbox box">
    <a href="/submit">Submit material &raquo;</a>
</div>
<div class="clear"></div>
