{{extend 'layout.html'}}
<style type="text/css">
#littleinfo {
    font-size: 0.6em;
    color: white;
    /* oh god, I hate so much that base.css with fixed pixel :( */
}
</style>
<script type="text/javascript">
function extractNumber(obj)
{
    var temp = obj.value;
    var remindlen = temp.length;

    var reg1Str = '[^0-9]';
    var reg1 = new RegExp(reg1Str, 'g');
    temp = temp.replace(reg1, '');

    if(remindlen != temp.length) {
        document.getElementById("littleinfo").innerHTML = '{{=T("Error: only ten digits are accepted as receipt")}}';
    }
    if(temp.length > 10) {
        document.getElementById("littleinfo").innerHTML = '{{=T("Error: you puts more than 10 digits")}}';
    }

    obj.value = temp;
}
</script>

<div id="receiptbox">
<h2>{{=T("Tulip Receipt")}}</h2>
    <form action="" method="POST">
    <input id="inputReceipt" onblur="extractNumber(this);" onkeyup="extractNumber(this);" type="text" name="Receipt" style="width: 150px" />
    <input type="submit" name="send" value="Submit receipt"/>
    </form>
    <span id="littleinfo"></span>
</div>
<h1>{{=settings.globals.welcome}}</h1>
<div class="presentation">{{=settings.globals.title}}</div>
<div class="description">{{=settings.globals.subtitle}}</div>
<div class="presentation">{{=settings.globals.description}}</div>

<div class="intro">
 <p> {{=presentation_text}} </p>
</div>

<div class="submitbox box">
    <a href="/globaleaks/submission/" onclick="location.href='{{=URL('submission', 'index')}}'">{{=T("Submit material")}} &raquo;</a>
</div>
<div class="clear"></div>
