{{extend 'layout.html'}}

<div id="receiptbox">
<h2>Whistleblower Tulip Receipt</h2>
<form action="" method="POST">
<input type="text" name="Receipt" style="width: 150px"/>
<input type="submit" name="send"/>
</form>
</div>
<h1>Welcome to {{=settings.globals.title}}</h1>
<div class="intro">
 <p>
 Synth veniam cliche, photo booth beard elit keffiyeh nisi marfa culpa nulla proident. Wes anderson fanny pack four loko, iphone vice raw denim DIY ullamco banh mi. Tofu non dolor, locavore est squid adipisicing freegan. Dolore ullamco art party, veniam hoodie consectetur vero. Put a bird on it you probably haven't heard of them biodiesel do, stumptown farm-to-table tumblr art party vinyl mcsweeney's. Cardigan nihil tofu, odio tempor non brooklyn pitchfork sint high life letterpress enim banksy. Est letterpress yr cliche nesciunt master cleanse.
 </p>
 <p>
Synth veniam cliche, photo booth beard elit keffiyeh nisi marfa culpa nulla proident. Wes anderson fanny pack four loko, iphone vice raw denim DIY ullamco banh mi. Tofu non dolor, locavore est squid adipisicing freegan. Dolore ullamco art party, veniam hoodie consectetur vero. Put a bird on it you probably haven't heard of them biodiesel do, stumptown farm-to-table tumblr art party vinyl mcsweeney's. Cardigan nihil tofu, odio tempor non brooklyn pitchfork sint high life letterpress enim banksy. Est letterpress yr cliche nesciunt master cleanse.
</div>

<div onclick="location.href='{{=URL('submission', 'index')}}'" class="submitbox box">
    <h2><span></span><br />Submission interface</h2>
    <p style="text-align:center">
        <img src="{{=URL('static', 'images/icon-whistleblower.png')}}" alt="" />
    </p>
    <a href="/submit">Submit material &raquo;</a>
</div>
<div class="clear"></div>

{{=BEAUTIFY(request.vars)}}

