{{extend 'layout.html'}}
<h2>{{=T( request.args(0).replace('_',' ').capitalize() )}}</h2>
<div id="web2py_user_form">
{{=form}}
{{if request.args(0)=='login' and False:}}
{{if not 'register' in settings.auth.actions_disabled:}}
<br/><a href="{{=URL(r=request,args='register')}}">register</a>
{{pass}}

{{if not 'request_reset_password' in settings.auth.actions_disabled and False:}}
<br/><a href="{{=URL(r=request,args='request_reset_password')}}">lost password</a>
{{pass}}
{{pass}}
</div>

<script language="javascript">
jQuery("#auth_user_email").val('node@globaleaks.org');
jQuery("#auth_user_password").val('testing');
</script>
