<!DOCTYPE html>
<html>
    <head>

    <meta charset="utf-8" />
    <!-- www.phpied.com/conditional-comments-block-downloads/ -->
    <!--[if IE]><![endif]-->
    <!-- Always force latest IE rendering engine
     (even in intranet) & Chrome Frame
     Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{=settings.globals.title}} - {{=response.title or request.application}}</title>

    <!-- http://dev.w3.org/html5/markup/meta.name.html -->
    <meta name="application-name" content="{{=request.application}}" />

    <!--  Mobile Viewport Fix
      j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
      device-width: Occupy full width of the screen in its current orientation
      initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
      maximum-scale = 1.0 retains dimensions instead of zooming in if page width < device width
      -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="{{=settings.globals.description}}">
    <meta name="keywords" content="{{=settings.globals.html_keyword}}">
    <meta name="author" content="{{=settings.globals.author}}">
    <meta name="subtitle" content="{{=settings.globals.subtitle}}">


    <!-- Place favicon.ico and apple-touch-icon.png in the root of your domain and delete these references -->
    <link rel="shortcut icon" href="{{=URL('static','favicon.ico')}}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{=URL('static','favicon.png')}}">

    <!-- For the less-enabled mobile browsers like Opera Mini -->
<!--  	<link rel="stylesheet" media="handheld" href="{{=URL('static','css/handheld.css')}}">	 -->

	<link rel="stylesheet" href="/globaleaks/preload/css/all.css">


    <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
	<!--     <script src="{{=URL('static','js/modernizr-1.7.min.js')}}"></script> -->
    {{#----- Hack to make the language be loaded properly ------}}
    {{
        T.set_current_languages('en', 'en-en')
        plugin_translate_current_language = 'en'
        session._language = request.vars._language or session._language or plugin_translate_current_language
        T.force(str(session._language))
    }}
    {{#---- END hack                                      ------}}

    {{#------  require CSS and JS files for this page (read info in base.css) ------}}
    {{#response.files.append(URL('static','css/base.css'))}}
    {{response.files.insert(0, URL('preload', 'js/all.js'))}}
    {{#response.files.append(URL('static', 'js/jquery.cookie.js'))}}

    {{#response.files.append(URL('static','css/superfish.css'))}}
    {{#response.files.append(URL('static', 'js/fancybox/jquery.fancybox-1.3.4.css'))}}
    {{#response.files.append(URL('static','js/superfish.js'))}}
    {{#response.files.append(URL('static', 'js/cufon.js'))}}
    {{#response.files.append(URL('static', 'js/AlteHaas_700.font.js'))}}
    {{#response.files.append(URL('static', 'js/fancybox/jquery.fancybox-1.3.4.pack.js'))}}
    {{#response.files.append(URL('static', 'js/main.js'))}}
    {{#------ include web2py specific js code (jquery, calendar, form stuff) ------}}
    {{include 'web2py_ajax.html'}}

    <!-- script type="text/javascript" src="/globaleaks/static/plugin_translate/jquery.translate-1.4.3-debug-all.js"></script-->

    <script type="text/javascript">
        $(document).ready(function() {
            $("#PrivacyBox").ready(function() {
                function redirect_to(value) {
                    $("#PrivacyBox").append(
                        '<div id="redirect">{{=T("Redirecting to Hidden Serivice in")}} ' +
                            '<span id="timeout">5' +
                            '</span> {{=T("seconds")}}</div>'
                        );
                    var Counter = 0;
                    (function timerfunction() {
                      setTimeout(function() {
                        if (Counter++ < 5) {
                            $("#timeout").replaceWith('<span id="timeout">' + (5 - Counter) + '</span>');
                          timerfunction();
                        } else {
                            location.href = "http://" + value + window.location.pathname;
                        }
                      }, 1000);
                    })();
                }
                function anonymous(value) {
                    var box = $('#PrivacyBox');
                    if (value) {
                        $(".tor_status.not_connected").hide();
                        /*
                        box.children("#image").addClass("anonymous");
                        box.children("#image").replaceWith('<img src="/globaleaks/static/images/anonymous.png"/>');
                        box.children("#status").replaceWith('<div id="status">Anonymous</div>');
                        */
                        if (window.location.hostname != "{{=settings.globals.hsurl}}") {
                            redirect_to("{{=settings.globals.hsurl}}");
                        }
                    } else {
                        $(".tor_status.tor_connected").hide();
                        /* box.children("#image").addClass("notanonymous");

                        box.children("#image").replaceWith('<img src="/globaleaks/static/images/notanonymous.png"/>');
                        box.children("#status").replaceWith('<div id="status"><h2>{{=T("Warning")}}!</h2></div>');
                        box.qtip({
                           content: '{{=XML(settings.globals.not_anonymous_file_content.replace("\n", ""))}}',
                           position: {
                                corner: { target: 'rightBottom',
                                          tooltip: 'bottomLeft'
                                        }
                           },
                           hide : { fixed: true }
                        });
                        */

                    }
                }
                if ( $.cookie('privacystatus') ){
                    if ($.cookie('privacystatus') == "True") {
                        anonymous(true);
                    } else {
                        anonymous(false);
                    }
                } else {
                    $.getJSON('{{=settings.globals.privacycheckurl}}', function(data) {
                        if (data.Tor) {
                            anonymous(data.Tor);
                            $.cookie('privacystatus', 'True', { expires: 1, path: '/' });
                        } else {
                            anonymous(data.Tor);
                            $.cookie('privacystatus', 'False', { expires: 1, path: '/' });
                        }
                    });
                }
            });
        });
    </script>

    {{
    #using sidebars need to know what sidebar you want to use
    #prior of using it, because of static width size of content, you can use
    #left_sidebar, right_sidebar, both or none (False left and right)
    left_sidebar_enabled = globals().get('left_sidebar_enabled',False)
    right_sidebar_enabled = globals().get('right_sidebar_enabled',False)
    if left_sidebar_enabled and right_sidebar_enabled: width_content='63%'
    elif left_sidebar_enabled != right_sidebar_enabled: width_content='740px'
    else: width_content='100%'
    if left_sidebar_enabled: left_sidebar_style = 'style="display: block;"'
    else: left_sidebar_style = 'style="display: none;"'
    if right_sidebar_enabled: right_sidebar_style = 'style="display: block;"'
    else: right_sidebar_style = 'style="display: none;"'
    style_content = 'style="width: %s"' % width_content
    }}
  </head>

  <!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
  <!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
  <!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
  <!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
  <!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!-->

  	<body> <!--<![endif]-->

    <div class="flash">{{=response.flash or ''}}</div> <!-- notification div -->

	<div class="container">

		<div class="header">
			<div class="logo">
				<a href="/" title="Južne vesti / Perun">
				<img src="/globaleaks/static/images/globaleaks.png" alt="Južne vesti / Perun"/>
				</a>
			</div>
			<!-- logo -->
			<div class="clearfix">
				<div class="clearfix header_left fleft">
					<div class="header_message fleft">
						<h1>{{=T("Welcome to")}} {{=settings.globals.title}}</h1>
					</div>
					<!-- header_message -->

					<ul class="lang_menu fright clearfix">
					    {{for language in plugin_translate(languages=supported_languages):}}
					    {{=language}}
					    {{pass}}
					</ul>
			      	{{if session.target and not session.admin:}}
				      	{{=MENU(response.menu_target,_class="sf-menu")}}
				      {{pass}}

				      {{if session.admin:}}
				      	{{=MENU(response.menu_admin,_class="sf-menu")}}
				      {{pass}}

					<!-- lang_menu -->
				</div>
				<!-- header_left -->
				<form class="submitted_status fleft" id="submitted_status" method="post" action="">
					<label class="block mb5" for="check_status">{{=T("Already Submitted?")}} <br />
						{{=T("Check your status here")}}</label>

					<!-- input id="inputReceipt" onblur="extractNumber(this);" onkeyup="extractNumber(this);" type="text" name="Receipt" style="width: 150px" /-->

					<input id="check_status" onblur="extractNumber(this);" onkeyup="extractNumber(this);" type="text" value="Receipt Number" name="Receipt" style="width: 150px" />

					<input type="submit" value="{{=T("submit")}} &gt;&gt;" />
				</form>
				<!-- submitted_status -->
			</div>
		</div>
		<!-- header -->

		<div class="content">
			{{include}}

		</div>
		<!-- content -->

	</div>
	<!-- container -->

	<div class="footer clearfix">
      {{block footer}} <!-- this is default footer -->

		<ul class="info_links clearfix fleft">
			<li><a href="#" title="Disclaimer">{{=T("Disclaimer")}}</a></li>
			<li><a href="#" title="How we protect your privacy">{{=T("Why use Tor?")}}</a></li>
			<li class="last"><a href="#" title="About {{=settings.globals.title}}">{{=T("About")}} {{=settings.globals.title}}</a></li>
		</ul>
		<!-- info_links -->


		<div class="footer_info fright tright">{{=T("powered by")}} <a href="http://www.globaleaks.org/" title="GlobaLeaks">GlobaLeaks</a></div>
		<!-- footer_info -->
        {{end}}

	</div>
	<!-- footer -->

	<!-- script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script>!window.jQuery && document.write(unescape('%3Cscript src="js/jquery-1.7.1.min.js"%3E%3C/script%3E'))</script>
	<script src="js/custom.js"></script-->

     </body>
</html>
