{{extend 'layout.html'}}
<style>
div.flash {
background-color: green;
}
</style>
{{if not added:}}
<h1>Target list selection</h1>
<p class="intro">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed semper rutrum nunc, suscipit tincidunt ligula elementum semper. Cras in elit vel libero interdum faucibus. Vivamus vitae tellus vitae velit fermentum scelerisque. Ut ut sapien metus. In ut velit ac leo laoreet fermentum in eu sem
</p>
{{=form}}
{{pass}}

{{if added:}}

<!-- h1>Now go and test a leak out ;)</h1>
<ul>
<li>Name: {{=request.vars.Name}}</li>
<li>Description: {{=request.vars.Description}}</li>
<li>Email: {{=request.vars.email}}</li>
</ul -->

<h2>Current target list</h2>
<form><input type="hidden" id="edit" name="edit" /></form>
<table class="targetlist">
<thead>
    <th>Name</th>
    <th>Email</th>
    <th>Description</th>
    <th>Delete</th>
</thead>
<tbody>
{{i=0}}
{{for target in targets:}}
    {{if (i % 2 == 0):}}
    <tr class="even">
    {{pass}}
    {{if (i % 2 == 1):}}
    <tr style="background-color: #eee" id="target-{{=target.id}}">
    {{pass}}
        <td width="100px" id="target_name">{{=target.name}}</td>
        <td width="100px" id="target_url">{{=target.url}}</td>
        <td width="150px" id="target_desc">{{=target.desc}}</td>
        <td width="50px">
            <button name="delete" onclick="clicked({{=target.id}}, 'delete')">delete</button>
            <!-- button name="edit" onclick="clicked({{=target.id}}, 'edit')">edit</button -->
        </td>
    </tr>
    {{i += 1}}
{{pass}}
</table>
<a href="/submit">Now go and be the Whistleblower</a>
{{pass}}

<script>
function clicked(id, action) {
      jQuery('#edit').val(action + '.' + id);
      ajax('targets', ['edit'], '');
      jQuery('#target-' + id).hide();
      return false;
}
</script>
