{{extend 'layout.html'}}

<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/jquery-ui.min.js"></script>
<style type="text/css" media="screen">

.group {
  display: block;
  margin-top:  20px;
  width: 500px;
}

.target{
  font:bold 13px Arial, Helvetica, sans-serif;
  font-style:normal;
  color:#000000;
  background:#f2f2f2;
  border:0px solid #ffffff;
  text-shadow:-1px 1px 0px #fff;
  box-shadow:0px 0px 7px #000000;
  -moz-box-shadow:0px 0px 7px #000000;
  -webkit-box-shadow:0px 0px 7px #000000;
  border-radius:20px 20px 20px 20px;
  -moz-border-radius:20px 20px 20px 20px;
  -webkit-border-radius:20px 20px 20px 20px;
  width:160px;
  padding:12px;
  cursor:pointer;
  margin:15px;
  text-align:center;
}

.droppableContainer {
  height: 250px;
  overflow: auto;
}

#selectActions span, #selectActions li {float: left; padding: 5px;}
.dropTarget input { visibility: hidden; }
</style>
  <h1>Target Groups</h1>
  <h3>Target pool</h3>
  <div id="selectActions">
    <span>Select:</span>
    <ul>
      <li><a id="selectAll" href="#">all</a></li>
      <li><a id="selectNone" href="#">none</a></li>
      <li><a id="selectInvert" href="#">invert</a></li>
    </ul>
  </div>

  <div style="clear:both;">
    <div id="dragSource" class="droppableContainer group">
      <ul>
      {{for target in all_targets:}}
      <li class="target"><input type="checkbox" style="float:left;"/><span class="{{=target['id']}}">{{=target['name']}}</span></li>
      {{pass}}
      </ul>
    </div>

    {{for group in targetgroups:}}
    <div class="droppableContainer dropTarget group" name="{{=targetgroups[group]['data']['id']}}">
      <h3>{{=targetgroups[group]['data']['name']}}</h3>
      <ul>
      {{for target in targetgroups[group]['members']:}}
        <li class="target"><span class="{{=target['id']}}">{{=target['name']}}</span></li>
      {{pass}}
      </ul>
    </div>
    {{pass}}
  </div>
<script>
$(function(){
  $(".dropTarget").find("li").each(function(k, e) {
    var group_id = e.parent().parent().attr("name");
    var del = $('<span/>').text("X").click(function() {
              $(this).parent().remove();
              $.post('remove', {target: target_id, group: group_id},
                     function(data) {
                if ($.parseJSON(data).success == "false") {
                  alert("failed");
                }
              });
            }).css({paddingRight:'10px', float:"left"});
            e.append(del);
  });
  $('#dragSource').find("li").draggable({
    helper: function(){
      var selected = $('#dragSource input:checked').parents('li');
      if (selected.length === 0) {
        selected = $(this);
      }
      var container = $('<div/>');
      container.append(selected.clone());
      return container;
    }
  });

  $('.dropTarget').droppable({
    tolerance: 'pointer',
    drop: function(event, ui){
      var e = ui.helper.children();
      var target_id = e.find('span').attr('class');
      var group_id = $(this).attr("name");
      console.log(target_id);
      var append = true;
      $(this).children().each(function(k, elem) {
        if ($(elem).find('span').attr('class')==target_id) {
          append = false;
        }
      });
      if (append) {
        var to_append = ui.helper.children();
        var del = $('<span/>').text("X").click(function() {
          $(this).parent().remove();
          $.post('remove', {target: target_id, group: group_id},
                 function(data) {
            if ($.parseJSON(data).success == "false") {
              alert("failed");
            }
        });
        }).css({paddingRight:'10px', float:"left"});
        to_append.find("input").remove();
        to_append.append(del);
        $(this).find("ul").append(to_append);
        $.post('add', {target: target_id, group: group_id},
               function(data) {
          if ($.parseJSON(data).success == "false") {
            alert("failed");
          }
        });
      }
    }
  });

  $('#selectAll').click(function(){
    $('#dragSource input').attr('checked', 'checked');
    return false;
  });

  $('#selectNone').click(function(){
    $('#dragSource input').removeAttr('checked');
    return false;
  });

  $('#selectInvert').click(function(){
    $('#dragSource input').each(function(){
      var $this = $(this);
      if ($this.attr('checked')) {
        $this.removeAttr('checked');
      }
      else {
        $this.attr('checked', 'checked');
      }
    });
    return false;
  });
});
</script>
