{{extend 'layout.html'}}

<style>
    .step {
        height: 500px;
    }
</style>

<div id="step1" class="step">
    <h1>Step 1</h1>
    What's your name?
    <a href="#step2">Next</a>
</div>

<div id="step2" class="step">
    <h1>Step 2</h1>
    Where are you from?

    <a href="#step3">Next</a>
</div>

<div id="step3" class="step">
    <h1>Step 3</h1>
    What did you eat yesterday?

    <a href="#step4">Next</a>
</div>

<div id="step4" class="step">
    <h1>Step 4</h1>
    GTFO

 <a href="#">Next</a>
</div>



