{{extend 'layout.html'}}

<style>
#step-1 label {
    display: block;
    padding-top: 20px;
    padding-bottom: 5px;
}
</style>
<script type="text/javascript">

  // custom css expression for a case-insensitive contains()
  jQuery.expr[':'].Contains = function(a,i,m){
      return (a.textContent || a.innerText || "").toUpperCase().indexOf(m[3].toUpperCase())>=0;
  };

  function listFilter(header, list) { // header is any element, list is an unordered list
    // create and add the filter form to the header
    var form = $("<form>").attr({"class":"filterform","action":"#"}).text("Filter: "),
        input = $("<input>").attr({"class":"filterinput","type":"text"});
    $(form).append(input).appendTo(header);

    $(input)
      .change( function () {
        var filter = $(this).val();
        if(filter) {
          // this finds all links in a list that contain the input,
          // and hide the ones not containing the input while showing the ones that do
          $(list).find("li").each(function(k, v) {
            if (!$(v).find("span").text().match(new RegExp(filter))) {
              $(v).slideUp();
            }
            else {
              $(v).slideDown();
            }
          });
        } else {
          $(list).find("li").slideDown();
        }
        return false;
      })
    .keyup( function () {
        // fire the above change event after every letter
        $(this).change();
    });
  }

  //ondomready
  $(function () {
    listFilter($("#group_filter"), $("#group_list"));
  });
</script>

{{if error:}}
    <div class="pagetitle">{{=T("Incomplete configuration")}}!</div>
    <div class="description">{{=T("It's required that almost one receiver group has been configured from the administrative panel, in order to accept whistleblowing submission.")}}<br><br>
    If your are the <b>Node maintainer</b>, you need to create one or more <b>receivers</b>: go to <a href="/globaleaks/admin/targets/display">the appropiate page</a>.
    </div>
{{pass}}

{{if not error and not leak_id and form:}}
    <h1><span>{{=T("Submission Interface")}}</span></h1>
    {{=form}}

{{pass}}

{{if not error and form:}}
<script id="template-upload" type="text/x-jquery-tmpl">
    {{=jQuery_templates[0]}}
</script>

<script id="template-download" type="text/x-jquery-tmpl">
    {{=jQuery_templates[1]}}
</script>
{{pass}}

<script type="text/javascript">

function checkDisclaimer()
{
    if ($('#disclaimer')[0].checked == true)
        $('.buttonFinish').removeClass('buttonDisabled');
    else
        $('.buttonFinish').addClass('buttonDisabled');
}

$(document).ready(function(){
    'use strict';
    $('#fileupload').show();
    $('#file-uploader-nonjs').hide();

    // Initialize the jQuery File Upload widget:
    $('#fileupload').fileupload({
        url: "/globaleaks/submission/fileupload",
        autoUpload: true,
        // those spaces used to avoid TWO GRAPH IN SEQUENCE
    });

    $('#fileupload').bind('fileuploadprogressall', function (e, data) {
        if ((Date.now() - window.last_update) > 1000) {
            if(window.speedarray) {
                var speed = (data.loaded - speedarray[1])/(Date.now() - speedarray[0]);
                if (!window.average) {
                    window.average = speed;
                } else {
                    window.average = (window.average + speed)/2;
                }
                var eta = ((data.total - data.loaded)/( window.average * 1000))/ 60;
                // console.log("Speed: " + speed + "KB/s" + " ETA: " + eta + " minutes");
                $("#speedbox").children("span").replaceWith(
                    "<span>" + Math.round(window.average) + " KB/s (ETA: " + Math.round(eta*100)/100 + " mins)</span>"
                );
                window.last_update = Date.now();
            }
            window.speedarray = [Date.now(), data.loaded];
            window.last_update = Date.now();
        } else {
            if (!window.last_update) {
                window.last_update = Date.now();
            }
        }

        /* escamotage: avoid that someone click on checked and press finish before
         * the upload had really finished. until an upload is running, the disclaimer
         * could not be already be checked */
        $('#disclaimer')[0].checked = false;
        $('.buttonFinish').addClass('buttonDisabled');

        var new_height = $('#fileupload').parents('.content').innerHeight();
        $('.stepContainer').css('height', new_height);
    });

    $('#fileupload').bind('fileuploadstop', function (e, data) {
        $("#speedbox").children("span").replaceWith("<span></span>");
        window.speedarray = null;
        window.average = null;
    });

    $('#fileupload').bind('fileuploaddone', function (e, data) {
        $('.buttonFinish').removeClass('buttonDisabled');
        checkDisclaimer();

        var new_height = $('#fileupload').parents('.content').innerHeight();
        $('.stepContainer').css('height', new_height);
        $("#speedbox").children("span").replaceWith("<span></span>");
        window.speedarray = null;
        window.average = null;

    });

    // Load existing files:
    $.getJSON($('#fileupload form').prop('action'), function (files) {
        var fu = $('#fileupload').data('fileupload');
        fu._adjustMaxNumberOfFiles(-files.length);
        fu._renderDownload(files)
            .appendTo($('#fileupload .files'))
            .fadeIn(function () {
                // Fix for IE7 and lower:
                $(this).show();
            });
    });

    // Open download dialogs via iframes,
    // to prevent aborting current uploads:
    $('#fileupload .files a:not([target^=_blank])').live('click', function (e) {
        e.preventDefault();
        $('<iframe style="display:none;"></iframe>')
            .prop('src', this.href)
            .appendTo('body');
    });

    // Smart Wizard
    $('#wizard').smartWizard({
        transitionEffect: 'slide',
        enableAllSteps: true,
        enableFinishButton: false,
        onShowStep: checkDisclaimer,
        onFinish: onFinishCallback
    });

    checkDisclaimer();
    $('#disclaimer').change(function (){
        checkDisclaimer();
    });

    function onFinishCallback(){
        // $('#wizard').smartWizard('showMessage','Finish Clicked');
        $('form').submit();
    }

  // Load existing files:
  var files = [];
  {{ for f in existing_files:}}
    files.push({name: "{{=f.filename}}",
                size: "{{=f.size}}"});
  {{pass}}
  var fu = $('#fileupload').data('fileupload');
  fu._adjustMaxNumberOfFiles(-files.length);
  fu._renderDownload(files)
      .appendTo($('#fileupload .files'))
      .fadeIn(function () {
        // Fix for IE7 and lower:
        $(this).show();
        });
  $(".template-download").each(function(k, v) {
    var name = $(v).find(".name").find("a").text();
    var button = $(v).find(".delete").find("button");
    button.attr("data-type", "GET");
    button.attr("data-url", "/globaleaks/submission/fileupload?deletefile="+name);
  });
  /* this space is required to avoid TWO CLOSED GRAPH in sequence */

});

</script>
{{pass}}


{{if not error and leak_id:}}
    <h1><span>{{=T("Submission Receipt")}}</span></h1>
    <p class="intro">{{=T("This is a number you should write down to keep track of your submission")}}</p>

    <p class="tulip">
        {{=leaker_tulip}}
    </p>

    <p class="intro">
        {{=T("Please save it in a safe place (e.x. mobile phone, piece of paper, etc.)")}}
    </p>

    <a class="button whistleblower" href="/globaleaks/tulip/status/{{=tulip_url}}">{{=T("Submission status")}}</a>

    <p>
        {{=T("You are also able to use your Whistleblower receipt from the first page.")}}
    </p>
{{pass}}
</body>
